[2017-11-07 10:52] alberk8 opened #1 "Error when there is no data"
Is it possible to initially display that the QR Data is empty.  I am getting error at the console

Error generating QR Code: Empty QR Code data

ngOnInit() {
 this.QrCode = '';
}

<qrcode [qrdata]="QrCode" [size]="256" [level]="'H'"></qrcode>

[2017-11-07 13:58] Cordobo commented on #1
Thanks @alberk8 for your report, I look into it

[2017-11-07 14:13] Cordobo commented on #1
Rather than introduce breaking changes into the component, I would check (in your code) if this.QrCode equals an empty string as condition whether to render the component or a placeholder. You can use NgIf to conditionally add or remove the component from the DOM https://angular.io/api/common/NgIf

HTH

[2017-11-08 01:39] alberk8 commented on #1
Thanks.  I understand your concern on breaking the code.  If possible, please do implement a way where you can allow empty string for the QRCode on the next release.  The reason is that the current code stops/halt when there is a empty string which is a bit of a problem for a newbie.

![image](https://user-images.githubusercontent.com/12510130/32527361-a734d178-c468-11e7-8461-1ae6956a8b9e.png)

My

[2017-11-09 19:32] Cordobo commented on #1
That's a good argument and it won't break. Feel free to send in an Merge Request or I try to introduce it into the next release.

[2018-01-31 06:19] dhyey35 opened #2 "Option to hide title on hover"
**Use Case**:

We are displaying QR Code on website and it is going to be scanned by our mobile app.

**Issue**:

When user hovers over the QR Code on website it displays the JSON data which we have passed in `qrdata` which looks bad for our UX

**Recommended Solution**:

A parameter named `hidetitle` of type `boolean`

**Current Hack**:

Use `pointer-events` property of css and set it to `none`.

[2018-01-31 09:43] Cordobo commented on #2
Hello dhyey35,

and thanks for your report. It's a good enhancement, although I have to hack it into the only dependency of that project:

https://github.com/davidshimjs/qrcodejs/blob/master/qrcode.js#L585

I guess it'll be a **rewrite-to-typescript-project** for the above mentioned lib, I keep you updated of my progress.

[2018-01-31 10:27] dhyey35 commented on #2
I think rewrite would be an overkill as the project hasn't been updated since 2015, we can just fork it and add a new option called `noTitle` in `_htOption` which would be a boolean on https://github.com/davidshimjs/qrcodejs/blob/master/qrcode.js#L536 and pass it to `makeCode` from https://github.com/davidshimjs/qrcodejs/blob/master/qrcode.js#L572 than we can have a simple `if` condition check in

[2018-01-31 11:17] Cordobo commented on #2
That's the most pragmatic solution, that's the way to go.

[2018-02-11 15:43] slindenberg opened #3 "Angular 5 compatibility"
The 1.0.1 version depends on Angular 4.0.0. Would you mind updating to 5.0.0? I just tested it with 5.2.1 and it works, but the install process prints:

[code]

Thank you.

[2018-03-06 12:13] M2Key opened #5 "Plan for beeing supported by Server Side Rendering"
Is there any plan for make it compatible with SSR.

Once I actived SSR, I received :
NodeInvocationException: Prerendering failed because of error: ReferenceError: document is not defined

[2018-03-15 21:14] Cordobo commented on #1
Fixed in 1.0.2

[2018-03-15 21:14] #1 closed

[2018-03-15 21:30] Cordobo commented on #3
Angular 5 support ships in Version 1.1.0

[2018-03-15 21:30] #3 closed

[2018-03-15 21:34] Cordobo commented on #5
Hello @M2Key,

from my perspective it looks like a cool feature, I will have a look into it.
Please feel free to provide sample code.

[2018-03-23 09:18] Cordobo commented on #5
@cslgxuchang

Please provide some sample-code for me on a plunkr or jsfiddle.

[2018-03-26 01:13] cslgxuchang commented on #5
@Cordobo  use angularx-qrcode@1.0.2, my project use angular@4.0.0, when I run it with ssr, error "document is not defined"  in  angularx-qrcode@1.0.2 module .  I  have no idea to resolve it.

[2018-03-30 06:51] MuruganLR opened #6 "Dynamic update qr value string"
While i'm updating the qr value dynamically, it is not updating. It takes old values only what I have initiated.

[2018-04-02 21:14] ThrownLemon opened #7 "Feature Request: Add support for logos"
Would be awesome to have support for logos

[2018-04-04 11:02] SaloniArora21 commented on #6
I am also facing this issue. I am passing updating the qrcode data using api but it does not generates the qr code.

[2018-04-05 08:52] Cordobo commented on #6
I'm having a look into it, thanks for your feedback.

[2018-04-05 09:08] usachev-dev commented on #6
Same here

[2018-04-05 13:09] gmagaton commented on #6
I made a workaround refreshing page after setting qrcode value.

[2018-04-12 03:32] johns24 opened #8 "ERROR in Error: Metadata version mismatch for module"
Getting this error:
ERROR in Error: Metadata version mismatch for module
node_modules/angularx-qrcode/dist/index.d.ts, found version 4, expected 3, resolving symbol OrderHistoryModule in history.module.ts, resolving symbol OrderHistoryModule in history.module.ts
My angular CLI version is 1.7.4 and my package.json:

`{
  "name": "n",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng"

[2018-04-22 11:25] Geschan commented on #6
Same problem here - is there any workarround, without refreshing the page?

[2018-04-22 18:15] Cordobo commented on #8
Hi johns24,

this might be fixed by completely removing your node_modules folder and run npm install again on your project.

[2018-04-27 21:55] #6 closed

[2018-04-27 22:03] Cordobo commented on #6
Please update angularx-qrcode to 1.1.6 (Angular 5)

[2018-04-27 23:16] Cordobo commented on #6
I uploaded a sample app with a working dynamic update:
https://github.com/Cordobo/angularx-qrcode-sample-app

[2018-05-07 07:09] Itherma commented on #8
Your @angular/animations is on version 5.x.x and other @angular/ packages are on 4.x.x. All @angular/* packages must be aligned, i.e. have the exact same version number for the app to be able to compile.
your project is 4.x.x , you must install below 1.0.0 version

[2018-05-07 07:44] Cordobo commented on #8
@Itherma I'm a little bit confused by your comment, I neither see where @johns24 is on 5.x.x in his package.json nor where angularx-qrcode is probably on a worng version. could you please clarify and go into more detail?

[2018-05-07 19:53] Cordobo opened #11 "Angular 6 support"

[2018-06-02 16:50] Cordobo commented on #11
Made available as demo in https://github.com/Cordobo/angularx-qrcode-sample-app

[2018-06-02 16:50] #11 closed

[2018-06-03 16:48] Cordobo commented on #8
Closed for now, please reopen if the issue persists.

[2018-06-12 20:03] cbernth commented on #5
These few changes makes SSR work for me:

angularx-qrcode.component.ts:
[code]

[2018-07-15 04:39] therhenals commented on #7
+1

[2018-07-19 04:43] carrieXin commented on #8
maybe you should update "angularx-qrcode": "^1.0.2" to "angularx-qrcode": "1.0.1" in your package.json,i fixed the same problem by this way in my project

[2018-07-23 20:22] jameskleeh commented on #8
@Cordobo I'm running into this right now with version 1.0.3. Angular 4.3.4 is installed per my yarn.lock file

[2018-07-26 03:11] Diinisalma opened #12 "Error: Template parse errors"
I'm trying to use your library and I get this error
![image](https://user-images.githubusercontent.com/20138336/43239118-4f9411a2-90bb-11e8-8b96-49573429ab39.png)
Did I miss something??
This is my app.module.ts
`import { QRCodeModule } from 'angularx-qrcode';

registerLocaleData(localeId);

@NgModule({
  declarations: [
    AppComponent,
    LoginComponent,
    LogoutComponent,
    PageNotFoundCom

[2018-07-26 04:42] Diinisalma commented on #12
I have two modules they are appModule and eofficeModule, the component which I want to add qr code is in eofficeModule. So, I import the package in eofficeModule and it works.

[2018-07-26 04:42] #12 closed

[2018-08-08 08:43] abreitenfeld commented on #7
👍

[2018-08-10 03:49] garyganyang commented on #7
+1

[2018-08-14 18:56] RafaelAdao commented on #7
+1

[2018-09-27 13:17] quentinbt opened #15 "the component doesn't work when the component is used via a lazy loaded module"
Hello,

I'm on angular 6 and when I try to use the component qrcode inside a component inside a lazy loaded module I get the error Can't bind to 'qrdata' since it isn't a known property of 'qrcode'

Otherwise the component is working properly when used inside appmodule

[2018-09-27 13:53] #15 closed

[2018-09-28 12:39] jacksodj commented on #8
same issue. 1.0.3 on angular 4.4.7 found version 4 expected version 3.
Oddly it worked for about a minute. tried the modules clear and reinstall, but this seems to be stuck with that bug/warning

difference between working and not was editing a CSS file.
reverted those changes to no effect, very weird.

[2018-09-28 13:17] jacksodj commented on #8
looks like re-running this line fixes it for some period of time:
npm install angularx-qrcode@1.0.3 --save

[2018-09-28 13:45] jacksodj commented on #8
ok, a little more detail, running npm start will throw the error.
but if in a different window I run the npm install angularx-qrcode@1.0.3 --save
the watcher in the first window will trigger and then recompile correctly.

Note: I also tried the change from ^1.0.3 to 1.0.3 in the package.json file

[2018-10-11 08:34] DenWoas opened #16 "How usesvg is use?"
I am loocking how i can use the attribute usesvg, but I can´t make it work.

Thanks

[2018-10-12 12:13] Cordobo commented on #16
Hi DenWoas,

did you set [usesvg]="true" in your code?

`<qrcode [qrdata]="'Hello'" [size]="256" [level]="'M'" [usesvg]="true"></qrcode>`

[2018-10-14 20:12] #16 closed

[2018-10-14 20:13] DenWoas commented on #16
I have achieved it, thanks

[2018-10-16 06:03] maksof-Rehan commented on #2
@GianniAzizi  nice tip

[2018-10-17 05:24] edayan opened #17 "Metadata version mismatch for module ..node_modules/angularx-qrcode/dist/index.d.ts, found version 4, expected 3"
I am getting the error:

my package.json
[code]

and dashboard.module.ts

[code]

[2018-10-17 18:44] Cordobo commented on #17
Hello edayan,

thanks for opening a new issue. Could you please provide me with a stripped down version of your app where I can reproduce the error?

Thanks in advance!

[2018-10-23 12:04] ArgV04 opened #18 "Is there a update for Angular 7 comming?"
Is there a update for Angular 7 comming? Because during building my app I get the warning:

**_npm WARN angularx-qrcode@1.2.4 requires a peer of @angular/core@^6.0.0 but none is installed. You must install peer dependencies yourself._**

[2018-10-24 11:04] Cordobo commented on #18
Hi @ArgV04,

thanks for your feedback, I update the lib at latest this weekend.

[2018-10-25 19:11] Cordobo commented on #18
Version 1.3.0 for Angular 7 is available.

via npm
`npm install angularx-qrcode@1.3.0 --save`

via yarn:
`yarn add angularx-qrcode@1.3.0`

[2018-10-25 19:11] #18 closed

[2018-10-31 21:50] vitorplopes commented on #7
+1

[2018-11-05 09:55] Thomas0921 opened #19 "Need to scan qr to open a url, but could not find a way to do so"
In the documentation, couldn't find the approach to generate a QR to open a URL. I need a QR code that can open a URL directly after scanning.

[2018-11-05 10:01] Thomas0921 commented on #19
oh my bad, I was giving e.g www.google.com as text string only,
need to add 'https://' to the string

like this https://www.google.com

Thanks :)

[2018-11-05 10:01] #19 closed

[2018-11-11 18:34] Cordobo commented on #17
I'm closing this, as not reproducible. Please re-open, if you still encounter the problem.

[2018-11-11 18:34] #17 closed

[2018-11-20 02:20] choopage opened #20 "Question: Why use qrcodejs2?"
The current dependency is qrcodejs2 which is maintained about 3 years ago. I suggest using node-qrcode package. https://github.com/soldair/node-qrcode

Because it is actively maintained.

[2018-11-20 09:42] Cordobo commented on #20
Hi, thanks for the suggestion, I look into it

[2018-11-22 21:46] justsolarry opened #21 "Will we be able to add an image to a QR Code?"
For example

![image](https://user-images.githubusercontent.com/21080305/48922643-e47f4180-eeb0-11e8-9bbf-ec56a76b79b0.png)

[2018-11-27 02:35] choopage commented on #20
Hi @Cordobo

Is there any chance for this to happen?

Thanks.

[2018-12-05 07:39] elaineyl opened #22 "Angular 4 - Cannot read property '_android' of undefined"
Error (Cannot read property '_android' of undefined) is returned in /qrcodejs2/qrcode.js:

if (this._android && this._android <= 2.1) {
...
}

[2018-12-05 09:46] Cordobo commented on #22
Could you please provide a stripped down sample repo?

[2018-12-06 19:45] Cordobo opened #23 "Update angularx-qrcode for Angular 7.1"
Upgrade dependencies for Angular 7.1 and release Angular 7.1 Demo App https://github.com/Cordobo/angularx-qrcode-sample-app

[2018-12-06 19:53] Cordobo commented on #23
angularx-qrcode 1.4.0 release published

[2018-12-06 19:53] #23 closed

[2018-12-06 20:01] Cordobo commented on #21
Hi, this seams to be similar or identical to Issue #7 , I close this one in favor of the before mentioned.

[2018-12-06 20:01] #21 closed

[2018-12-06 20:03] Cordobo commented on #20
Hi choopage,

definitely yes, I evaluate a couple of qrcode libs for a 2.0 release

[2018-12-28 12:16] theshreyansh commented on #2
google a lot on this, and finally, find below piece of code working,
use > style="pointer-events: none"
Example >
<div class="qrscan">
<qrcode [qrdata]="angularxQrCode" style="pointer-events: none" [size]="150" [level]="M"></qrcode>
</div>

[2018-12-28 12:17] theshreyansh commented on #2
qrcode [qrdata]="angularxQrCode" style="pointer-events: none" [size]="150" [level]="'M'" ></qrcode

[2018-12-31 15:21] taoyouh commented on #5
Maybe a pull request and a new release on NPM?

[2019-01-15 09:53] tuananhsmart17 opened #24 "Support generate url in QR Code"
Hi. This is great package. I want to generate url and when anyone scan it, will be open browser with url. I like this package , very helpful and support ssr. Thanks you

[2019-01-23 10:28] MikeOne opened #27 "Update peer dependencies for NG 7.2.2"
Trying to install Angular 7.2.2 - failing to due peer dependency issue:

Package "angularx-qrcode" has an incompatible peer dependency to "@angular/core" (requires ">= 5.0.0 <= 7.2.0" (extended), would install "7.2.2").

I have 1.5.1 already installed.

[2019-01-23 10:32] MikeOne commented on #27
I see there is already a PR for this (#26) - can this please be merged?

[2019-01-24 11:03] Cordobo commented on #24
Hi @tuananhsmart17 ,

that's exactly what this library does. It generates QR-Codes from strings. These strings can be of any type (or content), and of cause URLs too. Your client is responsible what it does with the information from the QR-Code.

A stripped down sample implementation can be found here:
https://github.com/Cordobo/angularx-qrcode-sample-app

I close the issue, please reopen if you f

[2019-01-24 11:03] #24 closed

[2019-01-25 08:14] Cordobo commented on #27
Fixed for version 1.5.2 with PR #28.

[2019-01-25 08:14] #27 closed

[2019-01-28 17:49] Yorer commented on #2
This helped thanks ;)

[2019-02-03 12:24] AngularTx opened #31 "not able to read the string data (qrdata) when size is set less than 100"
Hi,

Very good package !
Have some issues or need help in understanding the correct usage of this package. Not much detailed explanation are given on the options .

1)
When reducing the size to less than 100 , sometimes the scanner is not able to get the required data .
but when i keep the size as 100 or more  , I have no issues in getting the text. Anything less than 100 , takes lot of time and n

[2019-02-03 23:12] olaferlandsen commented on #7
+1

[2019-02-04 10:18] AngularTx opened #32 "mark qrdata strict as text or url"
I have created an object which would have
data = { "endpoint": https://abc/123?123=123;"abc":https://abc/123 } . I would show it as a string!

On android apps scanners - I see it shows as text only .
On iphone - we see it is considered as a URL and opens in browser.

[2019-02-07 02:27] Dyabel03 commented on #5
Hi, I have installed two versions of this package (^1.2.4 and ^1.5.3) in differents proyects, but i´dont see if the code of @cbernth is all ready implemented, is that so in what version of the package can i see this code, please?

[2019-02-07 20:09] Cordobo commented on #31
Hi @AngularTx

I wrote about it a while ago here https://stackoverflow.com/a/49667939

Did you try to raise the size and scale the generated QR-Code via CSS?

[2019-02-07 20:13] Cordobo commented on #5
Hi @Dyabel03

No, the code from @cbernth has not been integrated into the repo yet.

[2019-02-07 20:16] Cordobo commented on #32
@AngularTx

I hope I get you right, did you try to wrap JSON.stringify() around your data? It should be treated as a string as expected.

[2019-02-07 23:13] Dyabel03 commented on #5
Hi, @Cordobo  thank you for your answer, currently I need this in my work so, do you have any plan to implement this anytime soon?... I really appreciate your effort in this project and I don´t wanna sound rude...thank you in advance.

P.S: Or if you know how I can implement this would also be helpful, I tried to use the code of @cbernth but when I execute the universal angular the same error occu

[2019-02-07 23:59] c2ofh opened #33 "Transparent Background"
Is it able to remove the background, to get the qr code on a transparent background?

[2019-02-08 00:25] c2ofh commented on #33
rgba(0, 0, 0, 0) as background works.

[2019-02-08 00:25] #33 closed

[2019-02-09 16:43] alchemistt99 commented on #5
i need too for my work so, please could you help us to fix it for angular universal.
still same error when execute 😢

[2019-02-11 14:07] Cordobo commented on #5
@Dyabel03 @alchemistt99 PRs are more than welcome!

[2019-02-27 15:53] ansarikhurshid786 opened #34 "how to decode qr image"
is this library support decode qr image ?

[2019-02-27 19:51] #31 closed

[2019-02-27 19:51] #32 closed

[2019-02-27 20:10] Cordobo commented on #34
No, angularx-qrcode transforms a variable into a visual representation of a qr code.

[2019-02-27 20:10] #34 closed

[2019-03-10 10:29] Danieleeee opened #37 "Export image/pdf"
Hi,
is possible to export qrCode as image or pdf?

Thanks

[2019-03-10 17:42] Cordobo commented on #37
@Danieleeee

it depends, you can generate an SVG setting the attribute usesvg to true
`<qrcode` [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'" usesvg="true"></qrcode>

and reuse the SVG programatically from within your code to generate other image formats or PDFs.

Creating PDFs directly is out of scope of this lib.

[2019-03-10 17:42] #37 closed

[2019-03-16 13:08] arranHarty123 opened #38 "Option to add white border to generated inage"
It would be great if a border can be added so its part of the image. That way if the image is saved it can be saved with the white border, which would make it easier to read with QR code readers.

[2019-03-22 07:06] HasithNawana commented on #2
Thanks a lot

[2019-03-29 15:31] ericsnap opened #39 "StackBlitz example"
FWIW,
I have created a [StackBlitz](https://stackblitz.com/edit/angularx-qrcode-sample-app) with your sample app. Feel free to use it/share it. Might help people not have to download/compile/run.

[2019-04-02 18:41] Cordobo commented on #39
@ericsnap Thanks, I add it as a ressource to the Readme with the next release

[2019-04-06 10:25] thatham opened #40 "Is there any way to check if QR Code is scanned"
I've generated QR Code successfully. But also, I need to check that, Is there any way to check that the generated the QR Code is scanned by any QR code reader

[2019-04-11 19:17] Cordobo commented on #40
Hi @thatham, no, not that I know.

[2019-04-11 19:17] #40 closed

[2019-04-16 08:32] foramkumar-parekh opened #43 "Change color dynamically."
I want to update the color for the qrcode dynamically, as I change the value of the assigned variables.

Below is the html tag I am using to generate qr code in angular
`<qrcode #qrTag [qrdata]="valueStr" [level]="'M'" [colorlight]="colorLight" [colordark]="colorDark" [usesvg]="false"></qrcode>`

Now, for example, if I change the value of colorDark, the same should be reflected on the QRCode.

Ple

[2019-04-17 06:28] PradneshShinde opened #44 "Created Qr code having data as Json (did json.stringify too) but cannot get scanned somehow"

[2019-04-17 13:21] gkucmierz opened #45 "Reloading qrcode with wrong params"
Qrcode is opening with parameters of another qrcode used in app.

In first view I am displaying canvas qrcode:
![Zrzut ekranu 2019-04-17 o 15 18 53](https://user-images.githubusercontent.com/739084/56290810-3fe1f280-6124-11e9-9369-77a2843bf707.png)

Then when I open modal I prefer to have svg here:
![Zrzut ekranu 2019-04-17 o 15 19 02](https://user-images.githubusercontent.com/739084/56290847-5a1b

[2019-04-19 12:34] Cordobo commented on #44
Hi Pradnesh,

I can only guess what could be the issue, but here are my ideas

1. An issue with your QR-Code reader (clearly out of the libraries scope, the right place to ask would be a site like stackoverflow)
2. A QR code has a maximum payload which size is limited by several parameters:

- size
- level

If your size and level are too small for the string you added to "qrdata", the resulting QR

[2019-04-19 12:34] #44 closed

[2019-04-19 12:35] Cordobo commented on #45
@gkucmierz Can you provide me a stripped down working repo here on gitlab?

[2019-04-29 19:52] #39 closed

[2019-05-13 09:23] #43 closed

[2019-05-16 13:28] #45 closed

[2019-05-29 12:09] mpgo13 commented on #22
Ran into the same issue with Angular 8 today.

Steps to reproduce:

1. Clone https://github.com/mpgo13/angular8-angularx-qrcode
2. Run `ng build`
3. Run `cd dist/angular8 && python -m SimpleHTTPServer`
4. Browse to http://localhost:8000

Expected Result:
 - QRCode visible
Actual Result:
 - Script error as [commented above](https://github.com/Cordobo/angularx-qrcode/issues/22#issue-387629479)

Note

[2019-05-30 11:54] #8 closed

[2019-05-30 11:55] Cordobo commented on #22
Hi @mpgo13, thanks for your sample Repo, I have a look into it.

[2019-05-31 01:07] mpgo13 commented on #22
Seems like `qrcode.js` gets loaded in strict mode. I opened an issue: https://github.com/angular/angular/issues/30759

[2019-05-31 02:05] mpgo13 commented on #20
This issue would probably solve #22

[2019-06-01 10:07] Cordobo commented on #22
Hi @mpgo13 thanks for your minimal repo, I get this fixed as soon as possible.

[2019-06-01 10:14] Cordobo commented on #22
A temporary workaround is to set the target in your tsconfig.json from es2015 to es5:

`"target": "es5"`

Source: https://github.com/angular/angular/issues/30759#issuecomment-497636172

[2019-06-03 04:14] mrjoedang opened #47 "Angular 8 support"
[code]

[2019-06-07 15:35] KoIIIeY commented on #5
/frontend/dist/server.js:226874
        var useSVG = document.documentElement.tagName.toLowerCase() === "svg";
                     ^

ReferenceError: document is not defined

not working in 1.5.3

[2019-06-16 06:26] nevernet commented on #47
[code]

[2019-06-16 16:39] Yoda6 commented on #47
👍

[2019-06-18 11:41] Cordobo commented on #47
Hi there, short notice, I'm working on a it.

Related issues are: #22 #46

[2019-06-19 23:49] harkal18 opened #49 "doesn't work with ng build or ng build --prod"
this lib is amazing
i coded all my stuff and everything worked fine till the time i was testing on localhost
so after finishing my code i deployed my app to website and it doesn't work there
and no errors in console

following are my code work space configurations

`Angular CLI: 7.3.9
Node: 8.12.0
OS: win32 x64
Angular: 7.2.15
... animations, common, compiler, compiler-cli, core, forms
... languag

[2019-06-20 09:35] mmarcks commented on #22
Hi @Cordobo, I've had this error and when searching the topic I ran into an interesting article:
[https://github.com/davidshimjs/qrcodejs/pull/114/files]

Don't know if you've seen it but hope this helps you find a solution.

[2019-06-20 11:10] Cordobo commented on #49
Hi @harkal18 , glad you like the lib. I'm working on the fix for Angular 8+.

Did you try this temporary workaround? Set the target in your tsconfig.json from es2015 to es5:

`"target": "es5"`

Source: https://github.com/angular/angular/issues/30759#issuecomment-497636172

[2019-06-20 11:16] Cordobo commented on #47
Short update:

I will update Angular 8 Support with the next release (1.6.0).

In 1.6.x you will need the following temporary workaround: Set the target in your tsconfig.json from es2015 to es5:

`"target": "es5"`

Source: https://github.com/angular/angular/issues/30759#issuecomment-497636172

[2019-06-20 11:50] Cordobo commented on #47
Version 1.6.0 has been released (and needs the workaround from above). I'm working on version 2 of angularx-qrcode which makes this obsolete. Closing this.

[2019-06-20 11:50] #47 closed

[2019-06-20 14:29] harkal18 commented on #49
thats ok
but why does it work in localhost then ?

[2019-06-20 15:15] harkal18 commented on #49
it still doesn't work bro
i haven't changed anything in my project and just now i looked at my tsconfig.json
this is how it looks
`{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "module": "es2015",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorato

[2019-06-20 15:55] Cordobo commented on #49
I created a sample repo for Angular 8 here: https://github.com/Cordobo/angularx-qrcode-sample-app

The only difference I see is ```"module": "es2015",```, whereas my tsconfig.json states ```"module": "esnext",``` (although both worked in my test)

The following is just to be sure, we both have the same setup:
0. Checkout the sample-repo
1. Run ```npm install```(or remove all npm modules and reinst

[2019-06-21 09:15] nevernet commented on #47
Great

[2019-06-24 23:45] bkimminich commented on #49
I am using `^1.6.0` which compiles with both `es5` and `es2015` without problems. But when loading the application with `es2015`-compiled code I get this error:

![image](https://user-images.githubusercontent.com/3531020/60058962-b97cfa80-96ea-11e9-88f6-6589d2582358.png)

[2019-06-25 05:26] Cordobo commented on #49
Hi @bkimminich , I'm actively working on a version without this error, meanwhile a temporary workaround has to be applied, es2015 as target does not work yet for production builds, see here:

https://github.com/Cordobo/angularx-qrcode#install-160-with-angular-8

You could although checkout the sample repo from above, which doesn't throw the ```this._android``` error with angular 8.

HTH

[2019-06-28 17:46] Cordobo commented on #5
Thanks to code contributed by @cbernth and @ZhenhangTung, as of version 1.6.0, angularx-qrcode has fully implemented SSR support.

Closing this (please open another issue, if you encounter any)

[2019-07-15 11:05] naumov-dev commented on #5
I got
[code]
version 1.6.1

[2019-07-15 14:27] Cordobo commented on #5
Hi @naumov-dev, could you please provide a stripped down repo for me to reproduce?

[2019-07-16 16:03] frabanca commented on #49
Same problem here.

[code]

[code]

tsconfig.json
[code]

[2019-07-16 16:51] Cordobo commented on #49
Hi @frabanca,

Please use the [workaround](https://github.com/Cordobo/angularx-qrcode#install-160-with-angular-8) mentioned above until a refactored version is available:

Replace:
`"target": "es2015"`
with
`"target": "es5"`

Closing this, as I'm actively working on this.

[2019-07-16 16:51] #49 closed

[2019-07-17 09:35] ovesyan19 opened #51 "Template Parse error"
Hi @Cordobo ! I'm trying to add library to my project. I've installed it and then imported to module where my component lives but I still have template parse errors like this

compiler.js:2430 Uncaught Error: Template parse errors:
Can't bind to 'qrdata' since it isn't a known property of 'qrcode'.

Angular version: 7.2.15

[2019-07-17 15:42] Cordobo commented on #51
Hi @ovesyan19 ,

can you provide a stripped down sample repo to reproduce the error?

[2019-07-18 05:29] ovesyan19 commented on #51
@Cordobo yeah, I've put saple code in Stackblitz to check if it's working and no problems with that, but I'm pretty curious what can be wrong in mine if it's only importing of module to set it up. unfortunately I cant provide repo. if you can suggest cases which can cause this behavior, I will be very thankful

[2019-07-18 06:11] ovesyan19 commented on #51
@Cordobo I've found what caused this issue. I've imported qrcode module only in one module where my Testcomponent lives, but few other components inherit from Testcomponent, so I just add to their module qrcode too and now it's working. maybe it will be helpful for someone

[2019-07-18 06:11] #51 closed

[2019-07-18 11:01] robinmanuelthiel commented on #47
@Cordobo, what is the best way to get notified, when the new version that does not require the workaround comes out? is there an open issue for that, which i can follow?

[2019-07-18 18:00] lukengda opened #52 "Angular v8.1.x support"
The Angular 8.1 release is not supported by the peerDependency settings:

`Package "angularx-qrcode" has an incompatible peer dependency to "@angular/common" (requires ">= 5.0.0 < 8.1.0", would install "8.1.2")`

Could we set it to `">= 5.0.0 < 9"` to not warn for 8.x releases or is there some work for further support to do?

[2019-07-18 18:27] Cordobo commented on #52
@lukengda

Version 1.6.2 has been published with fixed peer dependencies ( angular < 9 )

Please close this issue, if it works for you.

Thanks for contributing

[2019-07-18 18:31] Cordobo commented on #51
Thanks for your feedback!

[2019-07-18 18:40] Cordobo opened #53 "Angular 8+ es2015 support (qrcode rewrite)"
Hi there,

I open this issue to keep you updated about my ongoing efforts to provide es2015 support for Angular 8+.

Angular 8 changed the default target in tsconfig.json from es5 to es2015, which resulted in a build error when building with ng build (ng serve works as expected).

To follow the efforts, subscribe to this issue, I will update it from time to time.

**Update 3: 29/12/2019 (29. Dec.

[2019-07-18 18:41] Cordobo commented on #47
@robinmanuelthiel

Good question, I added a new issue to follow up:
https://github.com/Cordobo/angularx-qrcode/issues/53

[2019-07-18 19:01] Cordobo commented on #20
Superseded by https://github.com/Cordobo/angularx-qrcode/issues/53

[2019-07-18 19:01] #20 closed

[2019-07-18 19:45] lukengda commented on #52
Thanks for the quick reaction! Installs now without warnings.

[2019-07-18 19:45] #52 closed

[2019-07-18 19:49] lukengda commented on #53
Do you accept contributions for parts of the workload once you have a good plan for v2?

[2019-07-22 13:37] ZhenhangTung commented on #5
@Cordobo Same thing happened to me. Here is my [PR](https://github.com/Cordobo/angularx-qrcode/pull/42), but I don't know why my changes don't exist anymore on the [dev branch](https://github.com/Cordobo/angularx-qrcode/commits/development), which has cost me several hours to find out the true problem. If you look at my [company's fork](https://github.com/udacity/angularx-qrcode), you will see the

[2019-07-22 14:12] Cordobo commented on #5
@ZhenhangTung Thanks for your investigation, I have a look into it

[2019-07-22 16:58] dfa1234 opened #54 "the component doesn't work when the component is used via a lazy loaded module"
There is issue about this but it's closed: #15

I would prefer import this module in my lazy module.

Currently it's only possible in AppModule.

Could it be possible

[2019-07-22 17:07] dfa1234 commented on #54
Ok in fact it's working very well in lazy module
Closing this one also :)

[2019-07-22 17:07] #54 closed

[2019-07-22 20:29] Cordobo commented on #5
@ZhenhangTung I have reapplied the PRs and released a fixed version 1.6.4. Thanks for your feedback!

[2019-07-22 20:29] #5 closed

[2019-07-22 20:33] Cordobo commented on #53
@lukengda support is always welcome, I keep you (and any other interested) updated

[2019-07-25 19:21] #22 closed

[2019-07-30 08:45] AndreasGassmann opened #55 "Uncaught TypeError: Cannot read property '_android' of undefined"
I spent quite a while figuring out where this error came from. So I'm opening this issue in the hopes of it getting indexed by google and helping others who have the same issue.

In my case, the solution was simply to upgrade to version `1.6.4` of this plugin. It worked, even with angular 8.

It's a known issue and you can track the progress here:

https://github.com/Cordobo/angularx-qrcode/issues

[2019-07-30 08:46] AndreasGassmann commented on #55
Closing this because it's just meant as a reference for people who are searching for this exact error.

[2019-07-30 08:46] #55 closed

[2019-08-07 07:44] acp9191 commented on #53
Any update on this? Would really love to set my target back to es2015.

[2019-08-13 10:17] PaLaMuNDeR commented on #53
Since we are on that topic:
`"target": "es6"`
also doesn't work

[2019-08-24 03:31] mvaipa opened #56 "Aling"
Aling qrcode center page?

[2019-08-26 08:58] bmesin commented on #53
@Cordobo
Are there any news here maybe?
Uncaught TypeError: Cannot read property '_android' of undefined #14889

This is still happening in Angular 8

[2019-08-28 06:08] utsav-gupta commented on #8
@Cordobo Why is this issue closed, has it been fixed?

[2019-09-02 10:55] Cordobo commented on #8
@utsav-gupta it was closed because it couldn't be reproduced by me and the original author did not a provide a repo where I could reproduce it.

[2019-09-02 10:57] Cordobo commented on #56
@mvaipa you can put it into a div-container and add css to align it. Please have a look at the demo repo or for general questions about css visit https://developer.mozilla.org/en-US/

[2019-09-02 10:57] #56 closed

[2019-09-02 11:03] Cordobo commented on #53
@bmesin The workaround still needs to be applied.

[2019-09-14 22:06] awais-zepto opened #58 "Getting error Cannot read property '_android'"
While using qrcode directive, it gives following error.

`PrintBarcodeComponent.html:17 ERROR TypeError: Cannot read property '_android' of undefined
    at qrcode.js:294
    at qrcode.js:469
    at qrcode.js:16
    at Object../node_modules/qrcodejs2/qrcode.js (qrcode.js:24)
    at __webpack_require__ (bootstrap:84)
    at QRCodeComponent.push../node_modules/angularx-qrcode/dist/components/angular

[2019-09-18 17:03] baywind2018 commented on #5
Is it possible to generate the QR code from a component? I want to display a smaller version on the page, but when the user clicks the image generated from qrdata (wrapped in an anchor), I'd like to let them download a larger version. Can that be done?

[2019-09-19 02:19] ZhenhangTung commented on #5
@baywind2018 Could you show some pseudocode to us? From my understanding, the easiest way is to generate 2 QR code and make the larger one `display: none`. When a user clicks the image, which is the smaller one, we actually download the larger one.

[2019-09-19 10:14] bop10 commented on #58
This is related to #53

[2019-09-21 12:31] garysb commented on #53
Having the same issue:

Uncaught TypeError: Cannot read property '_android' of undefined

[2019-09-25 13:29] Cordobo commented on #53
@garysb Please use my workaround from above

[2019-09-27 09:24] KiransHub opened #59 "Can't bind to any of the component's inputs"
Not sure why I'm getting this? I followed the instructions and set the target to es5.

I'm using an Angular 8 App here's there error I get:

[code]

[2019-09-27 09:26] KiransHub commented on #59
Doh 🤦🏽‍♂️! I forgot that I'd re-started the project and forgot to import it in my app module. It was only when I pasted the error and took a second look I realised!

[2019-09-27 09:26] #59 closed

[2019-10-04 15:52] Zattor commented on #53
Hi, is it fixed? I tried to add it in a project where I cannot change the lib to es5 and as you mentioned, the workaround is probably needed to fix the "_android undefined" error.

[2019-10-08 10:24] songokudbz commented on #53
Waiting ...

[2019-10-12 03:01] Junior0909 opened #60 "About the QR code can customized style.like border or use a image."

[2019-10-13 07:12] egodefroy commented on #53
Not willing to had stress for you but going back to es5 brought me into trouble elsewhere. I like your solution and I'm waiting for a solution or production work-around in es2015... Cheers

[2019-10-14 12:42] Cordobo commented on #60
Hi @Junior0909

Did you try any of your proposed solutions before? Which one worked for you?

A friendly advice for future issues, in this repository or elsewhere - please elaborate issues further in the description field and provide some sample code. Also provide some information about what you tried and what failed. This helps others helping you.

[2019-10-14 12:42] #60 closed

[2019-10-14 12:46] Cordobo commented on #53
@egodefroy I came up with another workaround in the lib itself. I give it a try this weekend and I hope I can ship a new pre-2 version with es2015 support.

[2019-10-18 06:22] anantanandgupta commented on #49
Hi @Cordobo, I have been waiting for this path since long time now. Can you please help us with the fix. By the way Angular 9 is on the edges to get released.

[2019-10-28 06:48] songokudbz commented on #53
Does the latest beta version contain this fix?

[2019-10-28 08:10] Slash7GNR commented on #53
Any news ? I would also like to use the package but I can't turn to ES5

[2019-10-28 16:04] Cordobo commented on #53
No, th elatest bete is more of a WIP and shouldn't be used (it'll break your build)

[2019-11-05 08:19] foramkumar-parekh opened #61 "Setting the light color as the qr code color."
I am using below colours and every time, colorLight is used for QR code generation and colorDark is used as background-colour

![image](https://user-images.githubusercontent.com/26627307/68191587-de0cab80-ffd5-11e9-8d1d-eaa9061d3f17.png)

Why is it behaving in this way? What is the way to fix it and get the colours in an expected manner?

I am using version 1.5.3

[2019-11-05 13:24] Robhox commented on #61
I think that the colors are working as intended and you inverted colors. I would bet your QR code is not scannable in the current state. You should try :
colorLight = #ffffff
colorDark = #0080b9

[2019-11-05 13:41] foramkumar-parekh commented on #61
Well for some of my other colour combinations, the Light colour is #ffffff and the background is displayed as white. so I am expecting it to be a blue background and white QRcode colour.

Note: I am using version 1.5.3

[2019-11-05 15:21] Robhox commented on #61
I can ensure you that the colors work as intended. Please print the same QR code with colorLight and colorDark inverted and see by yourself that the two generated codes aren't the same.

[2019-11-05 16:01] foramkumar-parekh commented on #61
I tried inverting colors as well and got the same result.

That's the reason I have raised the issue

[2019-11-06 08:02] foramkumar-parekh commented on #61
@Cordobo would you like to share your thoughts on this?

[2019-11-06 10:47] Yorer commented on #22
I've updated my tsconfig.json, this is working for me:
`"target": "es5"`

I've used es2015 before.

[2019-11-09 13:33] Goutam192002 opened #62 "Error: Patch file found for package qrcodejs2 which is not present at node_modules/qrcodejs2"
I'm trying to run a script to build my project on a GitLab CI runner....everything worked fine before installing this package. I get the following error when i run

I'm using the latest version of the package: 1.7.0-beta.5
![Screenshot 2019-11-09 at 6 57 37 PM](https://user-images.githubusercontent.com/33064470/68529321-729f4280-0323-11ea-9b62-8d2f7e8b9843.png)

[2019-11-10 19:35] Cordobo commented on #62
Hi and thanks for your reply, the beta should not be used in production, please use version 1.64

[2019-11-10 19:35] #62 closed

[2019-11-10 19:39] Cordobo commented on #61
I haven't tried it (please attach a working repo if you want me to check it out) but as @Robhox mentioned, the code looks inverted - have a look at a working QR code and compare the squares in the corners with the one in your version.

I close this for now, please reopen and add a repo to reproduce the issue if it still exists

[2019-11-10 19:39] #61 closed

[2019-11-11 09:32] foramkumar-parekh commented on #61
Please find below image with both the colour combinations. The light and dark colours are mentioned in the image itself. Hope this helps.
![image](https://user-images.githubusercontent.com/26627307/68576216-b7e28200-0493-11ea-8e0c-bc0d911a611d.png)
![image](https://user-images.githubusercontent.com/26627307/68576311-dc3e5e80-0493-11ea-8e42-55cd57a628df.png)

the code snippet used in my code is as

[2019-11-13 09:33] ignlg opened #63 "Error with Angular Ivy compiler"
Angular version: `8.1.0`

Ivy compiler enabled in `tsconfig.json` with:

[code]

Error reported:

[code]

[2019-11-16 02:43] choopage commented on #53
@Cordobo thank you for maintaining this package. And for using https://github.com/soldair/node-qrcode in your rewrite. Appreciate your effort! Thank you!

[2019-11-18 09:21] Junior0909 commented on #2
I have to add [attr.title]="''" on the component html tag.But it doesn't work,then try another style="pointer-events: none", it's OK. I think it wasn't the best.

[2019-11-19 12:01] #2 closed

[2019-11-21 09:03] songokudbz commented on #53
It has been already more than 30 days. Can you give us a status update please?

[2019-12-12 10:42] Hesesses commented on #7
Any news about this? or alternative library which supports this?

[2019-12-12 13:42] softsimon commented on #63
same here

[2019-12-12 15:38] choopage commented on #7
Looking forward to this feat.

On Thu, 12 Dec 2019, 6:42 PM Hesesses, <notifications@github.com> wrote:

[2019-12-16 10:08] AndreasGassmann commented on #63
Same issue here with version `1.7.0-beta.5`. Did anyone find a workaround?

[2019-12-20 14:34] songokudbz commented on #53
All I want for Christmas is .... for this fix to be made available .... 🎄

[2019-12-29 19:28] Cordobo commented on #53
Sorry, I couldn't make that wish come true...

But, as of today, there is a working 2.0.0-alpha.1 published to npm (see my update above). Please do not expect too much, it does not break, it displays QR codes (as expected), but the API is not feature complete and there are no Docs available yet.

[2019-12-29 20:48] Cordobo commented on #38
In version 2.0.0 a margin is now available. You can add css classes as well, to achieve a white border.

[2019-12-29 20:48] #38 closed

[2019-12-29 22:09] Cordobo commented on #53
Tada, Version 2.0.0 is out - thank my wife and my newborn son :)

[2019-12-29 22:16] #53 closed

[2019-12-29 22:53] Cordobo commented on #61
Fixed in Version 2.0.0

[2019-12-30 08:52] mohamedaboelmagd opened #67 "TypeError: Cannot read property 'kind' of undefined"
ERROR in ./node_modules/angularx-qrcode/fesm5/angularx-qrcode.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMetadataExpression (/node_modules/@angular-devkit/build-optimizer/src/transforms/scrub-file.js:265:35)
    at checkNodeForDecorators (/node_modul

[2019-12-31 08:53] Cordobo commented on #63
Related question, <Maybe<Solution>>

https://github.com/angular/angular/issues/34182

[2019-12-31 09:17] Cordobo commented on #67
@mohamedaboelmagd Could you please provide more information about your dev configuration (I have none in my workspace) as a sample repo where I can reproduce the error? I can compile an app with the latest version (angularx-qrcode 2.1.0) without running into this error.

As suggested on a SO thread, it might as well be an issue with the local angular installation, did you try these?
https://stacko

[2019-12-31 09:17] #67 closed

[2019-12-31 10:30] egodefroy opened #69 "V 2.1.0: TypeError: Cannot read property 'kind' of undefined"
when running
[code]
with this set of packages
[code]
This error happens
[code]

[2019-12-31 11:58] Cordobo commented on #69
@egodefroy Thanks for your bug report, could you please provide a working repo with which I can reproduce the issue?

compare #67

[2019-12-31 14:11] albalooshi commented on #69
Hi, having the same issue with an ionic app, when running --prod.

[2019-12-31 14:16] egodefroy commented on #69
@cordobo
see my repo : https://github.com/egodefroy/tstqr

[2019-12-31 14:51] albalooshi commented on #69
solved the issue by downgrading to 1.6.4

[2020-01-01 11:11] Cordobo commented on #69
I can't access the repo, I got a 404

[2020-01-01 12:15] Cordobo commented on #69
Ok, what I've read so far, it could be an issue with an older @angular dependency (1) used in your package.json. I run ng build --prod with the following devDependencies  and can't reproduce the error. Coiuld you try updating your dependencies to the ones below?

[code]

1) Reference: https://github.com/angular/angular-cli/pull/15705

[2020-01-01 18:34] egodefroy commented on #69
@Cordobo
Thanks, this seems the right analysis. Using these dependencies, the error does not show!

[2020-01-02 19:24] Cordobo commented on #67
Solution is to update your projects devDependencies, see here https://github.com/Cordobo/angularx-qrcode/issues/69#issuecomment-570048426

[2020-01-02 19:25] Cordobo commented on #69
Ok, closing. Feel free to highlight my comment for other users with a smilie.

[2020-01-02 19:25] #69 closed

[2020-01-09 14:47] joh-klein opened #70 "missing svg type in v2"
We loved the old version, because it was possible to output the qr code as svg (and then lossless style it with css).
Since you are using node-qrcode now this should still[ be possible](https://github.com/soldair/node-qrcode#tostringtext-options-cberror-string) as far as I can tell.
Are you planing to (re)implement this option?

[2020-01-10 17:55] Cordobo commented on #70
Hi @joh-klein

glad you liked 1.x and I hpe you'll like version 2 the same as it matures. As you said, node-qrcode supports svg. It's on my (internal) road-map but my spare time is kind of limited right now, though PRs are more than welcome :)

[2020-01-15 15:47] nicosoutn2014 commented on #69
@Cordobo Hi! What about @angular/cli ~7.3.5? Any fixes?

[2020-01-15 19:42] lance-h commented on #69
@nicosoutn2014 I am using @angular/cli ^7.2.2 - I downgraded angularx-qrcode to ^1.6.4 which removed the issue for me. Be aware that the documentation is slightly different between versions.

[2020-01-16 03:49] webxmsj opened #71 "hidetitle Not working properly"
我添加了[hidetitle]="true" 但不能正确的隐藏title

[2020-01-17 20:28] Cordobo commented on #71
hidetitle is no longer supported, please consult the latest docs

[2020-01-17 20:28] #71 closed

[2020-01-24 18:59] andreflourenco opened #72 "Support for IE 11"
It seems that the component is not supported by IE 11 as it ends up crashing my whole app with the error:

[code]

That error points to the "class" keyword (not supported by IE11) in the following line:

`let QRCodeModule = class QRCodeModule {`

[2020-01-28 11:28] mohamedaboelmagd opened #73 "build error @2.1.0"
ERROR in ./node_modules/angularx-qrcode/fesm5/angularx-qrcode.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMetadataExpression (/home/mohamed/Desktop/careerograph/web/node_modules/@angular-devkit/build-optimizer/src/transforms/scrub-file.js:265:35)

[2020-02-03 22:28] lazmeister commented on #73
Getting the same error

[2020-02-03 23:03] lazmeister commented on #73
Tried downgrading to 2.0.2, It looks like an issue not related to this package as others have the same error. Using another QR code generator library for now

[2020-02-04 19:05] Cordobo commented on #73
Did you try to update your dev dependencies in your package.json? The issue is most likely an error in the angular packages, please see [issue 69](https://github.com/Cordobo/angularx-qrcode/issues/69) for a solution.

I'm closing for now and add the "fixed" label, please re-open when you still encounter the issue.

[2020-02-04 19:05] #73 closed

[2020-02-04 19:08] Cordobo commented on #72
Hi @andreflourenco

could you provide me with a stripped-down version of your repo so I can reproduce the error?

[2020-02-04 19:15] andreflourenco commented on #72
Hi @Cordobo , I've just tried version 2.1.0 and the error disappeared. Thank you, and sorry for the trouble.

[2020-02-04 19:15] #72 closed

[2020-02-09 14:41] Slash7GNR commented on #63
Hey,
Can anyone update ? Any idea when the library will be ready for ivy ?

Thanks.

[2020-02-11 15:08] Dianaman commented on #69
Got the same error and fixed it by downgrading the version, as stated above.
Please, try making the latest version compatible with the newest versions of angular in order to not lose functionalities.

[2020-02-12 16:57] gguaderrama commented on #7
by the time this functionality will be ready

[2020-02-12 16:59] ajl640 commented on #7
by the time this functionality will be ready

[2020-03-02 11:31] shoeferlin commented on #70
hey andreas, great package! thanks for that. Also missing the SVG output a bit.

[2020-03-13 01:25] maelle9931 commented on #69
The fix proposed on this thread only works for Angular 8+. This component is supposed to be compatible with Angular 7. Please provide a fix for Angular 7.

[2020-03-18 14:07] Shaker1978 commented on #69
I agree. Version 2.x is declared to work with Angular 6/7/8/9 which is incorrect, because you have to use @angular-devkit/build-angular 0.8xx in order to build prod without errors. This again requires Angular 8. This finally leaves version 2.x unusable with Angular 6+7 in a prod environment.

[2020-03-26 10:14] andreElrico commented on #69
I called
+ npm update (update to latest minor)
+ npm install @angular-devkit/build-angular@0.803.23
+ ng build --prod (*works now*)

Thanks to all other suggestions. Very helpful :-)

[2020-03-26 11:19] bop10 opened #75 "Incompatible with Angular 9.1"
The package has incompatible peer dependencies and can't be updated:

[code]

@Cordobo need help with this?

[2020-03-26 13:27] samirmakhani045 opened #76 "I am not able to deploy in production"
![image](https://user-images.githubusercontent.com/32187273/77652015-9e9a2800-6f93-11ea-843c-ca44627c133c.png)

[2020-03-27 11:14] kklindic commented on #63
Works fine with Ivy, implemented on `Angular 9.0.7`.

[2020-03-30 07:30] webxmsj opened #77 "hi! I found that the hidden title function didn't seem to work"
![image](https://user-images.githubusercontent.com/40289489/77886332-4157ec80-729b-11ea-81d9-15d2e6dd6f24.png)

[2020-04-15 19:48] MLuan commented on #76
I'm also having this same issue.
have you find a solution ? 

[2020-04-16 13:23] YusufFidan opened #78 "Incompatibility with current Angular Version"
Hi,
trying to Update to Angular 9, getting this:

[code]

[2020-04-16 13:26] #78 closed

[2020-04-16 13:26] YusufFidan commented on #78
Duplicate

[2020-04-16 14:29] gokselb commented on #76
Same here, trying to troubleshoot.

[2020-04-17 19:31] Cordobo commented on #76
Hi there,

I fixed the issue with the latest release (2.2.1). The Readme was updated to reflect the latest changes and a running sample app has been published as well:

https://github.com/Cordobo/angularx-qrcode-sample-app

For angular 9.x run

`npm install angularx-qrcode@^2.2.1`

[2020-04-17 19:31] #76 closed

[2020-04-17 19:33] Cordobo commented on #75
Hi,

I fixed this issue today in the latest release (2.2.1). A working sample app is available for angular 9.1:

https://github.com/Cordobo/angularx-qrcode-sample-app

For angular 9.x run

`npm install angularx-qrcode@^2.2.1`
or
`yarn addl angularx-qrcode@^2.2.1`

[2020-04-17 19:33] #75 closed

[2020-04-17 19:36] Cordobo commented on #63
Hi,

I fixed this issue today in the latest release (2.2.1). A working sample app is available for angular 9.1:

https://github.com/Cordobo/angularx-qrcode-sample-app

For angular 9.x run

npm install angularx-qrcode@^2.2.1
or
yarn addl angularx-qrcode@^2.2.1

[2020-04-17 19:36] #63 closed

[2020-04-17 19:37] Cordobo commented on #78
Fixed.

[2020-04-17 20:00] Cordobo commented on #77
Hi, this property was deprecated with version 2.0.0 and will not be fixed.

[2020-04-17 20:01] Cordobo commented on #70
Hmm, stale-bot and me having a little fight ^^

[2020-04-17 20:13] #77 closed

[2020-04-24 22:04] aelagawy opened #79 "Uncaught ReferenceError: global is not defined, After installation to Angular 9 app"
Uncaught ReferenceError: global is not defined
    at Object../node_modules/buffer/index.js (index.js:43)
    at __webpack_require__ (bootstrap:79)
    at Object../node_modules/qrcode/lib/core/reed-solomon-encoder.js (reed-solomon-encoder.js:3)
    at __webpack_require__ (bootstrap:79)
    at Object../node_modules/qrcode/lib/core/qrcode.js (qrcode.js:10)
    at __webpack_require__ (bootstrap:79)

[2020-04-25 10:03] Cordobo commented on #79
Hi @aelagawy ,

more information would be appreciated to provide support :-) You could provide a stripped down repo of your app so someone can reproduce your error.

Just in case, there is a working demo app here, which I use to test the lib with the latest angular versions, including Angular 9:
https://github.com/Cordobo/angularx-qrcode-sample-app

[2020-04-29 04:44] maxtomczyk opened #80 "Installation commands in README.md"
Hi there!

Installation commands in readme looks broken for Angular 8 (and probably 7). As I noticed this package's minor version number is related to desired Angular version.

In my case, installation on Angular 8, following installation command:
[code]
will install package in version `2.2.1` (which is for Angular 9) and in effect will not work. This happens because of `^` char before version, wh

[2020-04-29 08:15] WillemDockbite commented on #80
Got this error:
**export 'DEFAULT_CURRENCY_CODE' was not found in '@angular/core'** among other missing exports. Reinstalling the package using `npm install angularx-qrcode@~2.1.0 --save` fixed it for me.
Thanks @maxtomczyk

[2020-04-29 14:31] frabanca commented on #7
+

[2020-04-29 18:09] Cordobo commented on #80
Thanks for opening an issue, fixed!

[2020-04-29 18:09] #80 closed

[2020-04-29 18:10] Cordobo commented on #79
I'm closing this, please re-open if you still encounter the issue.

[2020-04-29 20:52] EnriqueSampaio commented on #79
I had the exact same problem. The project compiles without any error, but I can't render any page in the browser, and the Chrome dev console shows that same error stack trace.

I export QRCodeModule through a SharedModule which I import at all my application modules.

[2020-04-29 21:29] Cordobo commented on #79
Ok, sounds good, do you mind provide me with a sample repo?

[2020-04-29 21:29] Cordobo commented on #70
SVG support is now available with Version 2.3.0

[2020-04-29 21:29] #70 closed

[2020-04-29 22:15] eliasdev commented on #2
But it does the job, I had to go with this one as well.

[2020-04-30 00:47] EnriqueSampaio commented on #79
It looks like the problem is about using Node.js specific packages in Angular projects running on browser only. Searching aroung I found a lot of similar errors in  other Angular libraries.

The workaround is adding this to your polyffils.ts file:
`(window as any).global = window;`

The bug explanation (and workaroud) from angular-cli project:
[#8186](https://github.com/angular/angular-cli/issues/

[2020-04-30 13:17] Cordobo commented on #79
Ok, according to issue [#15954](https://github.com/angular/angular-cli/issues/15954) it's more like the issue is caused by angular-cli itself - and the known workaround is the one you posted `(window as any).global = window;`.

[2020-04-30 13:17] #79 closed

[2020-05-11 14:25] MLuan opened #81 "QrCode lifetime"
Hi, I'm using this package and I would like to know the lifetime of a generated QrCode.
@Cordobo

[2020-05-11 16:47] Cordobo commented on #81
QR-Codes generated with angularx-qrcode do not have a limited lifetime.

[2020-05-11 16:47] #81 closed

[2020-05-18 21:29] ImFranQ opened #82 "[angularx-qrcode] error: Error: Invalid data"
When i use a string directly works, but when i try bind, shown error

that works:

[code]

but that not works

[code]

[2020-05-18 21:30] ImFranQ commented on #82
i solved with

[code]

`code` is a number

[2020-05-19 21:04] Cordobo commented on #82
good to here you could solve it. Feel free to close the issue.

[2020-05-22 09:17] rskendzic opened #83 "Use css variables as colorDark or colorLight"
It would be very useful, especially for white-labelling the app, if there some option to pass `colorDark="var(--color-primary-500)"`

[2020-05-22 11:54] Cordobo commented on #83
Hi, sounds like a nice feature. I'm open for contributions and PRs

[2020-05-22 12:04] #82 closed

[2020-05-23 00:41] joh-klein opened #84 "Height and Width doesn't change for svg"
it looks like, `height` and `width` are hardcoded to 256 when I am using svg.

[2020-05-26 14:57] Gabweb opened #86 "Multiple versions of @angular/common due to angularx-qrcode's dependencies"
One project I'm working on is using Angular 9.0.7. Since angularx-qrcode declares @angular/common as dependency, npm install@angular/common in two different versions.

[code]

As stated by ng-packagr it's recommended to only use peerDependencies (https://github.com/ng-packagr/ng-packagr/blob/master/docs/dependencies.md). I therefore believe that @angular/common should be moved from the dependencie

[2020-05-26 19:03] Cordobo commented on #86
Hi @Gabweb,

PRs are welcome, please open it against the develop branch.

[2020-06-02 21:32] PTC-JoshuaMatthews commented on #69
@andreElrico my issue was with a different library but it was throwing the same error, and the steps above got it working. Thanks!

[2020-06-05 16:39] #84 closed

[2020-06-05 17:27] sshelake25 commented on #79
I tried posted work around. its  not working. I am facing same issue.

I have imported below pakages in one of service -

import { Injectable } from '@angular/core';
import * as enigma from 'enigma.js';
import WebSocket from 'ws';
import * as path from 'path';
import * as fs from 'fs';
import * as jwt from 'jsonwebtoken';

Service throwing error on ->  jsonwebtoken

Even after adding ,
// Add glob

[2020-06-05 18:36] Cordobo commented on #86
Fixed in 2.3.4, thanks for contributing!

[2020-06-05 18:36] #86 closed

[2020-06-05 18:56] Cordobo commented on #79
Hey @sshelake25

I don't see angularx-qrcode in your dependencies, it looks more like an issue with the package "jasonwebtoken". You might find help at there issue tracker:

https://github.com/auth0/node-jsonwebtoken/issues

If you think I'm wrong, please let me know.

[2020-06-09 08:21] diegolaisocialcities opened #89 "angularx-qrcode.component.d.ts has some errors"
Greetings @Cordobo,

First of all thanks for this plugin, I've found it very helpful!

I have a little problem building my app due errors from angularx-qrcode.component.d.ts, in particular lines 17-18:
    elementType: keyof typeof QRCodeElementType;
    errorCorrectionLevel: keyof typeof QRCodeErrorCorrectionLevel;

CMD and Webstorm, alert about this error with this message:

TS2475: 'const' enum

[2020-06-09 10:43] joh-klein opened #90 "incorrect peer dependency with angular 8"
I am using yarn. And somehow, something changed. I recreated my yarn.lock file, and it is now picking up, that this dependency from you package:

`dependencies: {"@angular/common": ">= 5.0.0 < 9.1.0", … }`

and this one from mine

`dependencies: {"@angular/common": "8.2.14", … }`

can be fulfilled differently than before. It now has two @angular/common references in the lock file, and because of t

[2020-06-11 07:05] diegolaisocialcities commented on #89
Hi!

I'm currently using Ionic **3.2.2** (Ionic CLI **5.4.9**). The version of your plugin installed is angularx-qrcode@**2.3.4**.

Actually I didn't understand the "PR against the corresponding branch part", what do you mean?

Thanks in advance!

[2020-06-11 13:17] joh-klein commented on #90
Since I am on a tight schedule right now, I found a different way to work around this. I added
[code]
to my package.json – that helped. I'll try to do a PR, but can't promise anything. Sorry!

[2020-06-12 08:12] bacmanni commented on #69
You are right. Just got my code working and found this thread after wondering why my production build is broken. Page still says that 2.x is compatible with Angular 7.x but this is incorrect. @Cordobo please give us working fix or correct the documentation.

[2020-06-18 10:40] joh-klein opened #91 "Generate qr code in component"
Is there a way to generate the qr code in a component only? Meaning, that I have a variable that contains the image (base64 encoded) or svg as a string?

[2020-06-23 22:08] marciusbezerra commented on #89
try
npm install angularx-qrcode@1.6.4 --save

[2020-06-25 15:06] jenniferki opened #92 "Can't generate qrcode from numbers"
Hello,

I am not able to generate the code if I use numbers.
Example:
<qrcode [qrdata]="88" [width]="500" [errorCorrectionLevel]="'H'" [elementType]="'svg'"></qrcode>
Result: angularx-qrcode.js:171 [angularx-qrcode] error:  Error: Invalid data
or this one:
<qrcode [qrdata]="pumpID" [width]="500" [errorCorrectionLevel]="'H'" [elementType]="'svg'"></qrcode>
where pumpID is declared the following way

[2020-06-26 03:50] spawnborn opened #93 "Angular 10 have error"
error when run in angular 10

[2020-06-26 11:13] Cordobo commented on #92
Hi @jenniferki

I'm not sure if I got you right.

So I assume you have a constant named `pumpId` typed as union type (string | number), which can hold any string or int/float:

`let pumpId: string | number`

If you pass this the constant `pumpId` to the property `qrdata`, TypeScript complains, that the both types are not compatible as it expects a string type only

If you make sure, that you alway

[2020-06-26 11:13] #92 closed

[2020-06-26 11:17] Cordobo commented on #93
Damn, I knew it :)

I had no time to test the lib against A10 yet, but if you did, do you mind to share some more details?

PR's are always welcome!

[2020-06-26 11:20] Cordobo commented on #91
Hi,

do you mind to provide an example? It could be a new usecase worth to implement.

[2020-06-26 15:47] joh-klein commented on #91
We have a html page that is generated in the backend, because it consists of two parts (iframes) where the inner part is the angular app but the outer frame is pure html – where a qr code should be visible :)

[2020-06-26 18:51] mhov commented on #93
`ERROR in ./node_modules/angularx-qrcode/node_modules/@angular/common/__ivy_ngcc__/fesm2015/common.js 5888:12-27
"export 'ɵlooseIdentical' was not found in '@angular/core'`

[2020-06-26 20:05] mhov commented on #93
this PR https://github.com/Cordobo/angularx-qrcode/pull/94 just shows how i got rid of the error, not necessarily how main should be fixed

[2020-06-29 16:02] jenniferki commented on #92
Hi,

pumpID is of type string so I wasn't sure why the qrdata wasn't accepting it, but then I saw that it gets there as a number (88 instead of "88") so I just converted it to string using [qrdata]="pumpID.toString()" and it worked.

There is another thing about the new version for Angular 7. Currently we are using version 1.5.3 with Angular 7 project and we have another place where we generate a

[2020-07-01 14:28] Cordobo commented on #92
Did you initialize pumpId with an empty string like so:

`let pumpId: string = ''`

The lib expects a string and neither `undefined` nor `null`.

[2020-07-01 14:33] Cordobo commented on #93
Yes, the build would break for older versions. I had the exact same problem with the last versions. I still don't know a better way to get around this other than a new release for each major angular version.

[2020-07-02 19:41] Cordobo opened #95 "Feature: support for angular 10"
angularx-qrcode should support angular 10.

- [x] Rewrite library to support angular 10

- [x] Harmonize major versions of angular and angularx-qrcode starting with angularx-qrcode 10

- [x] Release angularx-qrcode 10

- [x] Update [angularx-qrcode sample app](https://github.com/Cordobo/angularx-qrcode-sample-app) to use angular 10 and angularx-qrcode 10 -
- [x] Document changes in the readme

[2020-07-02 21:13] Cordobo commented on #95
angularx-qrcode 10.0.x released.

[2020-07-02 21:13] #95 closed

[2020-07-02 21:14] Cordobo commented on #93
angularx-qrcode 10 has been released for angular 10

[2020-07-02 21:14] #93 closed

[2020-07-02 21:19] Cordobo commented on #89
I hope @marciusbezerra comment helped you, I close this issue, please reopne if your issue persists.

[2020-07-02 21:19] #89 closed

[2020-07-02 21:33] Cordobo commented on #69
Hi @all

I updated the readme to reflect the issue.

[2020-07-02 21:48] Cordobo commented on #90
Hi @joh-klein

I released angularx-qrcode 2.1.3 which should resolve the issue.

[2020-07-02 21:48] #90 closed

[2020-07-02 22:26] Cordobo opened #97 "fix: update linting and fix lint errors"
- [x] fix linting

- [x] fix lint errors

[2020-07-06 20:27] mohsanabbas commented on #91
I am using it to generate PDF but having an issue. it is duplicating qrcode only when it come to printable pdf. in DOM it's all good. I tried canvas, svg but no fix.

[2020-07-10 16:54] mohsanabbas opened #98 "Multiple renderers causing duplicate elements on pdf print overlay"
When utilizing qrcode component with elementType svg or canvas the print overlay shows duplicates.

[2020-07-10 16:58] #97 closed

[2020-07-10 17:00] Cordobo commented on #98
Hi @mohsanabbas

coulkd you please provide a stripped-down repo with your code where one can reproduce the bug?

PRs are welcome as well.

[2020-07-14 15:54] diegoscor commented on #7
Is it gonna be included soon?

[2020-07-15 16:14] hdk opened #99 "Ionic 5, Angular 8 - issues with 2.1.3"
In a small project with
ionic 5, angular 8, cordova:

- updating angularx-qrcode to 2.1.3
- calling: ionic serve
- navigating to page containing the qr-code image
I get this error on entering:
core.js:6014 ERROR Error: Uncaught (in promise): ReferenceError: Cannot access 'CardPageModule' before initialization
ReferenceError: Cannot access 'CardPageModule' before initialization
    at Module.CardPa

[2020-07-16 05:19] iMrLopez commented on #7
+1

[2020-07-16 20:08] Cordobo commented on #99
Hello @hdk ,

thanks for reporting this issue. Could you do two things:

1) try to install angularx-qrcode in version 2.1.3 again and run ionic serve, just to make sure npm didn't broke the package during installion:

[code]

2) As only one dependency was changed, please go to `node_modules/angularx-qrcode`and find the line `"qrcode": "1.4.4",`. Now replace it with `"qrcode": "1.4.2",`, save the p

[2020-07-16 23:28] hdk commented on #99
Hello!

after:
npm cache clean
npm  install --save angularx-qrcode@2.1.3
ionic serve
I still get this crash.

btw: in package.json the new line is
"angularx-qrcode": "^2.1.3",
which will lead to unwanted updates into 2.3.x .... shouldn't that be "~2.1.3" ?

and after:
npm install --save qrcode@1.4.2
ionic serve
.... it works!!  no more crashes.

[2020-07-17 16:26] Cordobo commented on #99
Hi @hdk

regarding your "btw" - yes it would lead to unwanted updates, but as this was only for debugging, it's fine (I guess).

My goal was to find out if qrcode in version 1.4.4 was our culprit. Apparently it is. I will downgrade the dependency and release new versions.

Thanks for your help!

[2020-07-17 16:33] hdk commented on #99
Great!

I got this entry in package.json on very first install of version 2.1.3 as well!
"angularx-qrcode": "^2.1.3"

had to manually change it and downgrade again after a npm update.

[2020-07-17 17:28] Cordobo commented on #99
True, one should add the flags `--save --save-exact` if they want a pinned version (or use `npm shrinkwrap`, but that's a different story)

I released version 2.1.4, could you try it if it fixes the initial issue?

[2020-07-17 17:45] Cordobo commented on #98
@mohsanabbas ping :)

[2020-07-17 18:08] #98 closed

[2020-07-17 18:11] mohsanabbas commented on #98
sorry I tried it in POC app and did work fine there was a strange bug in my actual app code.

[2020-07-20 19:50] Cordobo commented on #99
Good to hear.

Regarding the npm, I have a deeper look into it and update the npm strings accordingly.

Closing.

[2020-07-20 19:50] #99 closed

[2020-08-01 16:53] HeikoKanzler opened #101 "Responsive size / scaling and centering?"
I would like to use the component in a Ionic app.
- how to scale the QR code based on the devices screen width?

I guess I miss something fundamental, but I had no luck so far.

[2020-08-02 17:52] Cordobo commented on #101
Hi @HeikoKanzler

what did you try so far?

[2020-08-05 17:35] Cordobo commented on #101
ping

[2020-08-10 02:07] zhukongyi opened #102 "npm build with error "Cannot read property 'kind' of undefined""
angularx-qrcode-version:2.1.4
angular-version:8.2+

[2020-08-11 10:57] HeikoKanzler commented on #101
Sorry, was away for a while.
I tried different CSS tricks, but at the end it looks like they dont' work as the canvas is rendered after the CSS was applied. I found a work around for now (using the platform width as input width for the canvas)

[2020-08-24 13:21] CharnjeetIotasol opened #103 "Suggest to add callback method when scan Barcode"
Can you please add the callback method when someone scan the barcode for showing the loading or processing.

[2020-08-25 18:46] Cordobo commented on #103
Hi @CharnjeetIotasol ,

this lib is a QrCode Generator, maybe you afre confusing it with a QrCode Scanner. There is no possibility to check whether the code was scanned or not. I'm closing, please re-open if I'm wrong.

[2020-08-25 18:46] #103 closed

[2020-08-25 18:49] Cordobo commented on #102
Hi @zhukongyi ,

There are similar issues mentioned in issue #67 and #69, please try the workaround and let me know if it worked for you.

[2020-08-25 18:50] Cordobo commented on #101
Good to hear. I'm closing this.

[2020-08-25 18:50] #101 closed

[2020-08-31 17:18] Cordobo commented on #102
I'm closing this for now, please re-open if you think your issue is not fixed by the workaround.

[2020-08-31 17:18] #102 closed

[2020-08-31 17:20] Cordobo opened #104 "fix: Typo in "Deperectation warnings""
Should be "Deprecatation warnings"

[2020-08-31 17:21] Cordobo opened #105 "fix: Unneeded code: public qrcode: any = null;"

[2020-08-31 17:21] Cordobo opened #106 "fix: change img to svg"
Change img to svg: `[angularx-qrcode] usesvg is deprecated, use [elementType]="'img'".`

[2020-08-31 17:22] Cordobo opened #107 "fix: add hint to set prop allowEmptyString"
Add hint to set prop "allowEmptyString"

throw new Error("[angularx-qrcode] Field `qrdata` is empty");

[2020-08-31 18:04] Cordobo commented on #107
Fixed in release 10.0.7

[2020-08-31 18:04] #107 closed

[2020-08-31 18:04] Cordobo commented on #104
Fixed in release 10.0.7

[2020-08-31 18:04] #104 closed

[2020-08-31 18:05] Cordobo commented on #105
Fixed in release 10.0.7

[2020-08-31 18:05] #105 closed

[2020-08-31 18:05] Cordobo commented on #106
Fixed in release 10.0.7

[2020-08-31 18:05] #106 closed

[2020-09-06 20:01] mwenechac-sys opened #108 "Not working when used with innerHTML"
I am trying to generate QRcode like so:

html
`<div [innerHTML]="someHtmlCode"></div>`

ts
this.someHtmlCode = ` <qrcode [qrdata]="'some string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>`;

But its not working, how can I make it work.?

[2020-09-07 20:59] Mangdar opened #109 "How to create dowload qrcode image button?"

[2020-09-10 20:03] Cordobo commented on #108
Hi @mwenechac-sys

Can you format your comment in a way that Github can display it? Unfortunately your HTML is not displayed.

[2020-09-10 20:04] Cordobo commented on #109
Hi @Mangdar

thanks for your question. I'm not fully sure, what you are looking for, there a re a couple of ways on how to interprete it. Please clarify, thanks.

[2020-09-11 07:15] mwenechac-sys commented on #108
Its formatted now.

[2020-09-15 01:14] #91 closed

[2020-09-20 00:04] Cordobo commented on #109
I'm closing this question. If you want to re-open this issue, please provide some additional information.

[2020-09-20 00:04] #109 closed

[2020-10-02 09:08] yktoo opened #110 "Angular optimization warning"
Angular compiler gives the following warning:

[code]

Is there anything to do about that?

[2020-10-15 19:21] Cordobo commented on #110
Hi @yktoo ,

thanks for your comment, unfortunately there is an open issue in the underlying lib [qrcode](https://github.com/soldair/node-qrcode/issues/236).

The good news is, this is not a big problem, for now it's a warning and your bundle might have some extra bytes.

If you want to get rid of the warning, you can add the following to your `angular.json`:

[code]

[2020-10-15 19:21] #110 closed

[2020-11-19 23:49] ArkasDev opened #111 "Create qr code programmatically"
So far i only found the possibility to show the qr code via html. To download the qr-code, the generated image must be accessed and saved after rendering the qr-code. In large scale webapps that are use case driven there should be the possibility to generate the qr code programmatically, so that you can generate the qr code so that components can access it via the service e.g. for a download.

Is

[2020-11-22 12:40] inexuscore opened #112 "Angular 11 support"
Hello,
Thanks a lot for making this repo. Is this actively maintained?
Any plans to update and support Angular 11 any time soon?

[2020-11-24 09:15] samuelkavin opened #113 "Request upgrade y18n version: Synk Failing - Prototype Pollution - High Severity"
Currently, we are having some security warning in synk. It's requesting upgrade y18n version update to 5.0.5 from 4.0.0.

**Error message**
Prototype Pollution [High Severity][https://snyk.io/vuln/SNYK-JS-Y18N-1021887] in y18n@4.0.0
    introduced by angularx-qrcode@2.1.4 > qrcode@1.4.2 > yargs@13.3.2 > y18n@4.0.0

This issue was fixed in versions: 5.0.5

[2020-11-25 22:56] KingDarBoja commented on #112
I will submit a PR which should support Angular 11.

[2020-11-26 14:59] maximodee commented on #112
Currently doesn't appear to be working on Angular 11 so would be great to have a supported version.

[2020-12-02 12:01] a1development commented on #112
Support for Angular 11 would be great.

[2020-12-06 05:34] #108 closed

[2020-12-10 17:24] ingeJulianLasso opened #114 "Image in the center of the QR code"
Hello, thank you very much for such an excellent library. I would like to ask if it is possible to add a custom image in the center of the QR code that is generated with the library.

I have observed that this library depends on another one called "qrcode" and I consulted a little bit, I could see that it is possible to insert an image in the center of the QR code that is generated.

https://stack

[2020-12-14 13:26] cristianofromagio opened #115 "Nested SVG element"
Seems like all element types but SVG get 'directly' appended to the `.qr-code` element. The generated SVG content (which already contains a `svg` element) is appended to another svg element which in turn is appended to the `.qr-code` element. The issue seems to be related to [this line](https://github.com/Cordobo/angularx-qrcode/blob/48c2728489b205938746e09c19bbce6d5ac9077e/projects/angularx-qrcod

[2020-12-25 22:40] Mondei1 commented on #114
Hey! I figured it out myself. I put the QR-Code into a div and then I put a absolute image over it. I just struggled with centering it (typical CSS :roll_eyes:) but since my QR-Code and icon is always 256px and 32px in height/width respectively, I calculated 96px as distance from top and left for the icon.

### Code
CSS
[code]

HTML
[code]

And this is how it looks *(still scanable)*:
![image](htt

[2020-12-31 14:37] KBeDevel commented on #111
I'm not totally sure, but there should be a way to generate a base64 data URI and then allow a download of the file/content (as an alternative to write a file in the server). You will be able to save these data URIs using LocalStorage.

[2021-01-01 08:48] AndreasGassmann commented on #112
We're using this library in an angular 11 project that has been updated from angular 9. I'm not seeing any issues. Due to some earlier issues with this library, we set the target to "es5", maybe that's the reason it works? What issues do you guys have?

[2021-01-05 00:44] tellybrown commented on #112
When I upgrade it tells me it isn't supported or something to that effect.  It was many days ago I tried.  I'd be willing to put $10 for it.

[2021-01-07 05:12] tellybrown commented on #112
I found that I upgraded incorrectly.  I was on Angular 9 which gave me version 2.3.5.  Once I uninstalled it, I could upgrade angular to 11 and then reinstalled.  Works perfectly.

[2021-01-07 11:35] AndreasGassmann commented on #112
@tellybrown What's your build target?

[2021-01-07 16:44] tellybrown commented on #112
I am building an IONIC 5 app.

[2021-01-07 22:38] AndreasGassmann commented on #112
@tellybrown In your `tsconfig.json`, what's the value of the "target" property?

[2021-01-07 22:48] tellybrown commented on #112
{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "downlevelIteration": true,
    "experimentalDecorators": true,
    "module": "es2020",
    "moduleResolution": "node",
    "importHelpers": true,
    "target": "es2015",
    "lib": [
      "es2018",
      "dom"
    ]
  },
  "angularCompilerOp

[2021-01-10 04:06] mousedownmike commented on #112
I can confirm that `"angularx-qrcode": "10.0.11"` is working with `"@angular/...": "~11.0.5"` and `"@angular/material...":"^11.0.3"`

**tsconfig.json**
[code]

[2021-01-19 20:43] Cordobo opened #116 "Feature: add demo app as angular project"

[2021-01-19 20:44] #116 closed

[2021-01-19 21:08] Cordobo commented on #115
Hi @cristianofromagio

thanks for reporting the issue, it has been fixed in the latest release 10.0.12

[2021-01-19 21:08] #115 closed

[2021-01-19 21:20] Cordobo commented on #113
Issue: https://github.com/soldair/node-qrcode/issues/252
PR: https://github.com/soldair/node-qrcode/pull/255

[2021-01-19 21:24] Cordobo commented on #114
Thanks for opening the issue @ingeJulianLasso  and for posting your workaround @Mondei1

Im closing this as duplicate in favor of #7

[2021-01-19 21:24] #114 closed

[2021-01-19 21:25] Cordobo commented on #113
Hi @samuelkavin

thanks for opening this issue. I will update the lib when an updated version of the underlying lib becomes available.

[2021-01-19 23:41] Cordobo commented on #112
Hi @all

thanks for reporting this issue and sorry for the delay, angularx-qrcode@11.0.0 has been released.

Happy coding!

[2021-01-19 23:41] #112 closed

[2021-01-19 23:47] Cordobo commented on #83
Hi @rskendzic

is this still relevant? What issue did you encounter when you tried passing css vars into those properties?

[2021-01-19 23:49] #83 closed

[2021-01-19 23:56] Cordobo commented on #111
Hi @ArkasDev

the underlying lib node-qrcode is capable of creating dataURIs and other "raw" formats like SVG and PNG. From my perspective, this could/should be achieved with a node.js service in the back-end.

I'm closing this issue for now, please feel free to re-open if you think I got you wrong

[2021-01-19 23:56] #111 closed

[2021-01-20 13:48] cristianofromagio commented on #115
Thanks for the fix!

This also solves a problem where it was not possible to style the component when using SVG (at least I wasn't able to).

Demo:
With [angularx-qrcode@10.0.11](https://stackblitz.com/edit/qr-code-testing?file=src%2Fapp%2Fapp.component.html)
With [angularx-qrcode@10.0.12](https://stackblitz.com/edit/qr-code-testing-10-0-12?file=src%2Fapp%2Fapp.component.html) (same config/style a

[2021-01-23 16:38] charindukavishan opened #117 "Question: Download QR code as an image"
Is there an API for download QR code as an image in this library?

[2021-01-31 12:38] Cordobo commented on #117
Hi @charindukavishan

thanks for your question. Could you let me know

1) what's the purpose of downloading the image and
2) how's the users process to download the website/app, e.g. clicking on the image or having a separate button "download as image"?

[2021-01-31 14:03] charindukavishan commented on #117
1. I want to print the QR code image
2. Yes. I need to download the QR code image by clicking a separate button
3. I expect a function for download the QR code as an image file (png/jpg)

[2021-02-01 20:26] Cordobo commented on #7
Possible workaround https://github.com/Cordobo/angularx-qrcode/issues/114#issuecomment-751296784

[2021-02-20 19:33] KanKai opened #118 "ionic 5 & angular 8.1.2 build production error TypeError: Cannot read property 'kind' of undefined"
ERROR in ./node_modules/angularx-qrcode/fesm2015/angularx-qrcode.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined

[2021-02-25 12:25] Cristuker opened #119 "QRCode whit opacity"
I have this issue when i add whit length === 299. But when i add a data whit length === 218 works fine. This is the only difference.

This is how svg appear when i pass a info whit lentgh === 299.
![Captura de tela de 2021-02-25 09-22-55](https://user-images.githubusercontent.com/42705870/109153022-109e6280-774b-11eb-9779-25f8534fe939.png)

and this is how i use qrcode on html

`<qrcode id="qrCode

[2021-02-25 12:34] Cristuker commented on #119
I change the value of width and it's work for me

[2021-02-25 12:34] #119 closed

[2021-03-04 17:38] Qsaws opened #120 "Build Warning on Angular10"
We get these warnings on build after an upgrade to Angular10.

[code]

Any chance for this to be fixed?

[2021-03-12 11:03] sovushka-utrom commented on #120
Also get this warning for Angular 10:
[code]

[2021-03-13 18:06] Kytol commented on #117
I'd also like to have QR code downloadable.

The way I see it is to have QR code available as in typescript side.
Now I can only access QR code image with
`<qrcode [qrdata]="'Your data'" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>`

Generating QR with this package and downloading with JsPDF (https://www.npmjs.com/package/jspdf) somehow. Currently it works visible in

[2021-03-23 06:10] gravyplaya commented on #120
As stated in the link in the error code.
add the line below to your angular.json
`            "allowedCommonJsDependencies": [
              "qrcode"
            ]`

[2021-03-29 10:25] shahzaib62342 opened #122 "'const' enums can only be used in property or index access expressions or the right hand side of an import"
`[15:19:05]  typescript: ...ortcut-APP-Basic/node_modules/angularx-qrcode/lib/angularx-qrcode.component.d.ts, line: 17
            'const' enums can only be used in property or index access expressions or the right hand side of an import
            declaration or export assignment.`

I'm using `angularx-qrcode@10.0.12` in ionic 3

[2021-04-05 12:26] royaldragonit commented on #108
The same error

[2021-04-07 03:14] pauloneill commented on #120
I'm getting this issue with both Angular 10 AND 11:

`Error: src/app/jobs/jobs-swing-tag/jobs-swing-tag.component.html:5:13 - error NG8002: Can't bind to 'qrdata' since it isn't a known property of 'qrcode'.

5     <qrcode [qrdata]="'A simple string'" [size]="256" [level]="'M'"></qrcode>
[code]

[2021-04-12 04:39] mwawrusch commented on #114
Here is another library that has the feature natively - perhaps this can be used as a blueprint to add it this one: https://www.npmjs.com/package/qr-code-styling

Also, I am wondering if you might run into scanning errors - the error correction can only correct so much.

[2021-04-16 18:02] Mondei1 commented on #114
@mwawrusch I guess that a 64 x 64px image inside a 256 x 256px QR-Code is not going to corrupt any data. If you're using a smaller QR-Code and you don't adapt the icon size accordingly, you'll might run into problems. But in my case above the error correction is working great and the error correction algorithm should be deal with greater sizes. As you can see, I used error correction level L which

[2021-04-23 19:59] cbejensen opened #125 "Module import error - "value could not be determined statically""
I am using Angular 11. When I try to import the QRCodeModule, it seems to work in dev, but when trying to build for production I get this error:

[code]

Here's my `package.json` deps for reference:

[code]

[2021-04-28 05:55] foramkumar-parekh commented on #117
Directly download is not available, but you can achieve it using file saver.

this package creates the QR code inside the canvas. so you can

1. get the canvas element
2. convert it to blob
3. use file saver to save the file

[2021-04-28 05:57] foramkumar-parekh commented on #120
Can we have a fix for this, so we do not have to add it into _allowedCommonJsDependencies_?

[2021-04-28 10:32] charindukavishan commented on #117
thank you for your support :)

[2021-04-28 10:32] #117 closed

[2021-05-03 10:42] thirupathireddygopal commented on #6
it is not working dynamically when i change the value, at first time when the component instantiate it works but when i change the value dynamically it is not refelecting

[2021-05-03 15:58] ayyoubmiftah commented on #125
?

[2021-05-19 16:54] Caxvalencia opened #129 "I can't upgrade to angular 12"
Peer dependency into package file, didn't let me upgrading to angular version lastest

https://github.com/Cordobo/angularx-qrcode/blob/ff61f4c8bbc6c627f9a715aab0b2d6228c8bb2db/package.json#L29

[2021-05-28 06:45] sam-s4s commented on #129
Yes, I had the same sort of thing - had to make sure I installed the newer version of angularx-qrcode before updating angular.

[2021-05-31 08:15] megfault commented on #129
I am also stuck on this library for a v12 upgrade. Thankfully this should be solved soon, see PR #132 :fireworks:

[2021-06-01 14:20] ezequiel88 commented on #56
view.html

[code]

style.css
[code]

[2021-06-04 13:37] joewIST commented on #129
any update on this?

[2021-06-07 07:50] megfault commented on #129
@Cordobo  Pull request #132 should solve this. Can you please have a look?

[2021-07-07 05:29] atul4a2l opened #133 "CSS class not working on Canvas"
I have to add border-radius to QR-code canvas element but it's not working. When i inspect the element from DOM and tried to add CSS there changes reflect.

[2021-07-21 07:04] Qsaws commented on #120
So no fix in sight?

[2021-07-26 17:08] cheffNFT opened #134 "How do I center the QRCode in a div?"
The QR code is generated ok but I can't make it on the center regardless what I try is always on the left.

I'm on the latest Angular 11.

[2021-08-22 00:48] stephen-eas commented on #8
Same setup as you, I was able to resolve and successfully build by changing from ^1.0.3 to 1.0.1 in the package.json file

After building and importing the module, you'll need to ensure you're using the correct attributes for the 1.x versions. From the docs below:

[code]

[2021-08-23 21:18] AbhiThakare commented on #129
Any idea when #132 will merge? please.

[2021-08-27 18:17] jongbonga opened #137 "allowEmptyString not working"
I'm getting the following error `[angularx-qrcode] canvas error:  Error: No input text`
I tried with different elementType but the error is persists

[2021-08-28 10:53] scifresh commented on #129
I switched to https://github.com/mnahkies/ng-qrcode. It's working fine with Angular 12.

[2021-10-08 14:58] TatianaIvanovaW opened #140 "ansi-regex needs to be updated"
Hello,
ansi-regex cause Moderate vulnerability with the following error:
**Inefficient Regular Expression Complexity in chalk/ansi-regex**
ansi-regex needs to be updated up to version 5.0.1 or higher.
check here for more details: (https://github.com/advisories/GHSA-93q8-gq69-wqmw)

[2021-11-05 12:52] mujahid-akbar opened #141 "update to angular v13"
update peer dependency to angular v13

[2021-11-07 20:14] inexuscore commented on #141
Any idea when Angular 13 will be supported? We're trying to update to Angular 13 but a few libraries have conflicting peer dependencies. Thank you very much.

[2021-12-13 18:49] michaelbalber commented on #140
A fixed version of qrcode has been released.
https://github.com/soldair/node-qrcode/issues/278
Will now be possible to use the new version?

[2021-12-14 08:52] thevinaysomawat commented on #114
Can this Similar workaround be done for downloading QR code with logos functionality?

[2021-12-15 12:43] timmyrosen commented on #129
Can confirm working with Angular 13 as well!

[2021-12-15 12:44] timmyrosen commented on #129
@scifresh Can confirm ng-qrcode is working with Angular 13 as well!

[2021-12-15 17:15] Mondei1 commented on #114
You can do this for any kind of QR-Code. As long as your correction level is set high enough. You'll need to try for yourself. If you can scan it, everyone can scan it. But do I get this correct? You want to show a download link with a QR-Code with a logo in the center? If yes, then yes you can.

[2021-12-26 10:36] specchiasoft commented on #141
Hi i have this error when updating to  "@ubirch/angularx-qrcode": library.

 "@angular/core": "~13.1.1",
 "@ubirch/angularx-qrcode": "^13.0.0",
dev dependencies:
   "@types/qrcode": "1.3.5",
 "typescript": "~4.5.4",

![image](https://user-images.githubusercontent.com/25741411/147405484-d5fcab6f-1045-493a-83f6-59e124eab68d.png)

[2021-12-30 11:51] Cordobo commented on #129
Version 12 for angular 12 has been released.

[2021-12-30 11:51] #129 closed

[2021-12-30 11:55] Cordobo commented on #140
I updated qrcode to the latest version 1.5.0 with the ansi-regex fix included.

There are still vulnerable ansi-regex dependencies in the npm chain, but only in the build and test chain of angular 12.

[2021-12-30 11:55] #140 closed

[2021-12-30 12:13] inexuscore commented on #141
**@angular/core** in peer dependencies is targeting > 12 < 13, that's a problem. Is anyone working on this? Unfortunately, I don't have time for submitting a PR at the moment, this is a blocking issue for us trying to upgrade a big project to Angular 13.

[2021-12-30 12:31] Cordobo commented on #137
Thanks for the report, the underlying lib does not support it any longer (I used a different one before).

I fixed it by setting data to `" "` if empty strings are allowed.

Released with 12.0.1

[2021-12-30 12:31] #137 closed

[2021-12-30 12:59] Cordobo commented on #141
There should be an updated version for angular 13 within the next few hours.

[2021-12-30 13:07] Cordobo opened #145 "Remove deprecated properties"
Remove deprecated, now unsupported, properties from the code

[2021-12-30 13:28] Cordobo commented on #145
Changed in 12.0.2

[2021-12-30 13:28] #145 closed

[2021-12-30 13:28] Cordobo commented on #122
Fixed in 12.0.2

[2021-12-30 13:28] #122 closed

[2021-12-30 13:30] Cordobo commented on #120
No, this won't be fixed for version <= 10 as there is an easy workaround available.

Please open a new issue with a minimal working app so I may reproduce the issue. Thank you!

[2021-12-30 13:30] #120 closed

[2021-12-30 14:28] Cordobo commented on #133
Hi @atul4a2l

I'm a little bit late to the party, but this might help others as well. This is not an issue with angularx-qrcode but rather a general CSS styling thing, I added some sample code for the borderRadius and a button to the demo-app to control this. You can find the code starting with 12.0.3 in `projects/demo-app`.
..
Adding a className to the component with the right styles might fix yo

[2021-12-30 14:28] #133 closed

[2021-12-30 14:29] Cordobo commented on #134
Hi @atul4a2l

I'm a little bit late to the party, but this might help others as well. This is not an issue with angularx-qrcode but rather a general CSS styling thing, I added some sample code for the centering and three buttons to the demo-app to control this. You can find the code starting with 12.0.3 in `projects/demo-app`.
..
Adding a className to the component with the right styles might fix

[2021-12-30 14:29] #134 closed

[2021-12-30 14:34] Cordobo commented on #125
Hi @cbejensen

Did you ever manage to fix that? I can't reproduce the error based on the data you provided.

Please reopen if you think this was closed by error and provide a minimalist repo to reproduce this. Thank you!

[2021-12-30 14:34] #125 closed

[2021-12-30 14:36] Cordobo commented on #118
This might be related to #125

I never managed to reproduce the error based on the information provided, so I will closes this issue.

Please reopen if you think this was closed by error and provide a minimalist repo to reproduce. Thanks!

[2021-12-30 14:36] #118 closed

[2021-12-30 15:10] inexuscore commented on #141
@Cordobo that's great to hear, awesome news! Thank you very much, much appreciated 🍻

[2021-12-30 21:50] specchiasoft commented on #141
Thank you very mutch

[2022-01-03 11:20] Cordobo commented on #141
@inexuscore @specchiasoft

Hi, sorry for the delay, version 13 for angular 13 has been published right now.

Please let me know, if you experience any issues..

[2022-01-03 11:21] #141 closed

[2022-01-03 12:01] inexuscore commented on #141
@Cordobo Hi Cordobo, no problem at all I understand you're busy like everybody else, especially during the holidays. That's awesome! thank you very much, I'll try and update to the latest versions. If I ran into any issues I'll come back with the details. Much appreciated, and happy new year!

[2022-01-05 09:16] MShekow commented on #120
The proposed fix here is a "sweep problem under the rug" work around. The underlying problem is that `angularx-qrcode` uses `qrcode` which itself does not support ESM import-mode, and won't do so anytime soon because the core maintainer is not interested in doing it themselves (see corresponding [ticket](https://github.com/soldair/node-qrcode/issues/236)).

[2022-01-05 20:06] Cordobo commented on #120
I commented on the underlying issue here #110 in more detail a while ago

[2022-01-06 00:05] Cordobo opened #146 "feat: add source linting"
feat: add source linting

[2022-01-06 00:06] Cordobo opened #147 "feat: create live demo app at cordobo.github.io/angularx-qrcode/"
feat: create live demo app at https://cordobo.github.io/angularx-qrcode/

[2022-01-06 00:07] Cordobo opened #148 "feat: add deployment via github actions"
feat: add github actions

[2022-01-07 17:51] Cordobo commented on #146
#fixed

[2022-01-07 17:51] #146 closed

[2022-01-07 17:53] Cordobo opened #149 "fix: add dist folder to ignore files"
Add dist folder to ignore files

[2022-01-07 17:56] Cordobo commented on #149
Fixed

[2022-01-07 17:56] #149 closed

[2022-01-07 18:13] Cordobo opened #150 "feat: improve Readme file"
Add a TOC and remove outdated paragraphs

[2022-01-07 18:17] Cordobo commented on #150
Fixed.

[2022-01-07 18:17] #150 closed

[2022-01-07 23:17] Cordobo opened #151 "feat: clean up npm scripts"
feat: clean up npm scripts

[2022-01-07 23:17] #151 closed

[2022-01-08 01:41] Cordobo commented on #147
Fixed

[2022-01-08 01:41] #147 closed

[2022-01-08 21:47] Cordobo opened #152 "feat: improved demo app"
Overhaul demo app, add some styles here and there and re-align the form user friendly:

- [x] Material design
- [x] Fix github link in header
- [x]  Footer alignment
- [x] Change md components with focus on the user
- [x] Preview ng directive with the user-selected options to copy & paste

[2022-01-11 00:06] #152 closed

[2022-01-12 00:02] Cordobo commented on #113
The author of the original qrcode dependency has no time to merge the open PR mentioned above. For now, I forked [1] the lib and bumped the dependency to a fixed version [2].

The moment the open PR gets merged into the qrcode lib, the dependency will be switched back.

[1] The used fork is located here:
https://github.com/Cordobo/node-qrcode

[2] Commit
https://github.com/Cordobo/node-qrcode/comm

[2022-01-12 00:07] #113 closed

[2022-01-12 00:21] Cordobo opened #155 "fix: colors.js"
The underlying lib `qrcode` has a dependency to the `colors.js`. [1]

As the author of the original `qrcode` dependency currently has no time to fix this issue, I forked [2] the lib and bumped the dependency to a fixed version [3].

The dependency will be switched back the moment there is a fix released.

[1] colors.js
 https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-an

[2022-01-12 00:23] #155 closed

[2022-01-12 19:22] Cordobo opened #156 "Load data from URL parameters to allow sharing"
Demo App:

- [ ] load data from URL parameters
- [ ] add share button (or Copy & Paste URL)

[2022-01-12 19:28] Cordobo opened #157 "Prerender Demo App"
- [ ] Implement prerendering of the page and release only HTML to https://cordobo.github.io/angularx-qrcode/

[2022-02-21 02:24] flcdrg opened #161 "alt tag on img"
I'd like to be able to set an alt tag on the img element. Is there a way of doing this?

[2022-02-21 20:22] Cordobo commented on #161
Not yet, but it's easy to add another attribute to the source.

Let me know if you want to contribute, pull requests are welcome, otherwise it will take some days until I have time again to add this.

[2022-03-21 21:32] #161 closed

[2022-03-21 23:57] chainalert-bot opened #165 "ChainAlert: npm package release (13.0.4) has no matching tag in this repo"
Dear [angularx-qrcode](https://npmjs.com/package/angularx-qrcode) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (13.0.4) of [angularx-qrcode](https://npmjs.com/package/angularx-qrcode) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, w

[2022-03-28 10:48] Pawemol12 opened #166 "alt tag on img in previous library version"
Hello, I'm maintaining old angular 9 project with the angularx-qrcode library of version 2.3.5. I saw the feature https://github.com/Cordobo/angularx-qrcode/issues/161 implemented in new versions of library, but I need it in the 2.3.5 version becouse I can't upgrade angular version in the maintained project :( Is there possibility to add it?

[2022-03-28 21:25] Cordobo commented on #166
True, this should be available for all releases

Could you try angularx-qrcode 2.3.6 and let me know if it works for you?

[2022-03-29 06:17] Pawemol12 commented on #166
It works but I had to manually add  qrcode library:
` npm install qrcode --save`

Becouse otherwise I got this error:

Idk, if this is my problem or problem in the new version of library

[2022-03-30 14:46] Matiwol commented on #166
I have the same error:
ERROR in The target entry-point "angularx-qrcode" has missing dependencies:
 - qrcode
I try version 2.3.5 and 2.3.6

[2022-03-30 17:03] Pawemol12 commented on #166
@Cordobo can you fix it?

[2022-03-31 13:32] Cordobo commented on #166
Fixed with 2.3.7, please let me know if it works

[2022-03-31 13:58] IvRRimum opened #167 "Cant use this inside MatDialog"
[code]
and inside `DonateModalComponent`:
[code]

[code]

It doesnt work only when called from inside `MatDialog`, in regular components, works fine..

[2022-03-31 14:09] Pawemol12 commented on #166
Tested it - it works.

[2022-03-31 14:18] IvRRimum commented on #167
This is not a public repo :// But i think you should be able to reproduce it

[2022-03-31 14:19] FacePalmDev commented on #167
Could reproduce it in a repo as you want help with it?

[2022-03-31 14:23] IvRRimum commented on #167
I found a workaround(not too clean): https://stackoverflow.com/questions/59763017/angular-custom-elements-angular-8-material-matdialog-and-matmenu-not-working

The answer to this problem is the question.(Works for me on angular13)

[2022-03-31 14:23] #167 closed

[2022-03-31 14:31] FacePalmDev commented on #167
Glad you got to the bottom of it.

[2022-03-31 16:48] Cordobo commented on #166
Ok, thanks for the feedback. Closing

[2022-04-01 03:25] CodeWorldIndustries opened #168 "Feature Request: Make QR Code downloadable"
It would be nice if after the QR code was generated, we could some how download it. Maybe consider using file-saver.

[2022-04-04 18:49] Cordobo commented on #168
Hi @CodeWorldIndustries

I think this feature is somehow out of the scope of the lib - but I'm open for PR's.

Otherwise there is a helpful comment (no copy & paste code) from another user with some guidance
https://github.com/Cordobo/angularx-qrcode/issues/117#issuecomment-828166056

HTH

[2022-04-05 19:03] #168 closed

[2022-04-07 23:06] Cordobo commented on #114
angularx-qrcode now supports logos out of the box:

https://cordobo.github.io/angularx-qrcode/

[2022-04-07 23:44] Cordobo commented on #7
Logo/image support is now available:

Live demo: https://cordobo.github.io/angularx-qrcode/

    [imageSrc]="'./assets/angular-logo.png'"
    [imageHeight]="75"
    [imageWidth]="75"

[code]

[2022-04-07 23:49] #7 closed

[2022-04-08 01:09] chainalert-bot opened #171 "ChainAlert: npm package release (13.0.10) has no matching tag in this repo"
Dear [angularx-qrcode](https://npmjs.com/package/angularx-qrcode) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (13.0.10) of [angularx-qrcode](https://npmjs.com/package/angularx-qrcode) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks,

[2022-04-11 07:04] faidancode opened #173 "Error when download QR Code, property parent doesnt exist"
i tried to make download qr code button following this tutorial https://github.com/Cordobo/angularx-qrcode/blob/main/projects/demo-app/src/app/app.component.html.

`<div class="row row-center row-code">
      <div class="qrcodeImage" *ngIf="qrCode">
        <qrcode
          #parent
          [elementType]="'canvas'"
          errorCorrectionLevel="M"
          [qrdata]="qrCode"
          [width]=

[2022-04-11 07:58] #173 closed

[2022-04-11 19:10] Cordobo opened #174 "Demo App: add color picker for QR Code"
- [x] add color picker for QR Code to demo app

[2022-04-11 22:04] #174 closed

[2022-04-11 22:05] Cordobo commented on #174
Available in the "colors" section here:  https://cordobo.github.io/angularx-qrcode/

[2022-04-11 22:23] #157 closed

[2022-04-18 09:11] sumegha26 commented on #173
@faidancode , I am facing same issue.
How did you resolve it ?

[2022-04-26 04:25] biswas-houm opened #175 "Does imageSrc work on # angular 8 angularx-qrcode@~2.1.4 ??"
I gave a path to the image on imageSrc attribute but does not seem to work. Is this possible with 2.1.4?

[2022-04-26 05:58] biswas-houm commented on #175
Can we make the imageSrc support on lower versions like 2.14 too?

[2022-04-26 20:23] Cordobo commented on #173
@faidancode @sumegha26

Hi there, can you guys provide me with a stripped-down repo here on github where I can reproduce this issue?

[2022-04-26 20:24] Cordobo commented on #175
@biswas-houm

yes, this is possible, I'm open for pull requests. If I do it on my own, it'll take some time.

[2022-04-28 07:19] karthik-sciera opened #177 "Is possible to auto redirect to the given url?"
Please let me know if possible and how to add those options within it.

[2022-04-28 11:52] Cordobo commented on #177
@karthik-sciera

you can do this only, if you develop a QR Code reader app and include this feature within your app. As far as I know, neither iOS nor android include this feature out-of-the-box from within their camera app.

[2022-04-28 11:52] #177 closed

[2022-04-29 22:52] faidancode commented on #173
@sumegha26 hey, sorry for late response. I found that the cause of the error was the *ngIf="qrCode" condition, when I removed that ngIf, the issue was resolved.

[2022-05-16 19:33] adiynsyah commented on #175
hallo @Cordobo  i try in version 11.0.0, i feel my imgSrc is correct path but di qrcode canvas not showing my image

[2022-05-16 21:24] adiynsyah commented on #175
hallo @Cordobo i try in version 11.0.0, i feel my imgSrc is correct path but di qrcode canvas not showing my image

[2022-06-03 15:08] Cordobo commented on #175
When I wrote "this is possible" I referred to the possibility to back-port this feature. It was introduced in version 13 and has been back-ported to version 2.3.7 but not to any other version yet. Sorry for any confusion. As said, I'm open to pull requests to speed the process up a little bit.

[2022-06-08 15:10] chrisleyva opened #179 "Support for Angular 14"
Hello,

Thank you for this great library. I'm sure there are plans to support the latest Angular release (14), I just wanted to create an issue to show that there is need for it in the community 😄 .

Thanks again!

[2022-06-12 23:21] #179 closed

[2022-06-12 23:23] Cordobo commented on #179
Hi @chrisleyva

Support for angular 14 has landed. Happy coding!

[2022-06-26 10:33] leoffx opened #181 "Allow QR to be more customizable"
There are a lot of customization one can do with a QR, it would be very interesting if we had the option to play with these values with this library (different colors for corner squares, border radius of squares, squares merging with each other).

![image](https://user-images.githubusercontent.com/43040272/175810052-cae344f8-4f72-449f-9183-93bc31db09a3.png)

[2022-07-11 08:26] piseysen opened #182 "imageSrc"
imageSrc not support in angular 11

[2022-08-13 23:10] Cordobo opened #183 "Backport of imageSrc for older angularx-qrcode releases"
Has imgSrc support:
- [x] angular 15 (supported in angularx-qrcode 15)
- [x] angular 14 (supported in angularx-qrcode 14)
- [x] angular 13 (supported in angularx-qrcode 13)
- [x] angular 9 (supported in angularx-qrcode 2.3.7)

Needs imgSrc support:
- [ ] angular 12 (angularx-qrcode 12.0.3)
- [ ] angular 11 (angularx-qrcode 11.0.0) - old issue #182
- [ ] angular 10 (angularx-qrcode 10.0.12)
- [ ] a

[2022-08-13 23:10] Cordobo commented on #182
Closed in favor of #183

[2022-08-13 23:10] #182 closed

[2022-08-13 23:16] Cordobo commented on #175
Closed in favor of #183 183

[2022-08-13 23:16] #175 closed

[2022-08-29 09:15] KyllVLP opened #184 "Make 2.1.4 version work with ES2015"
I'm working on a larger project on an existing website where the ES target cannot be changed.
I saw this under the known issues and was hoping it could get resolved.
I've tried using the angularx-qrcode in a local test build in ES5, and it works fine.
Transpiling to ES2015 gives me the error:
`ERROR in No suitable injection token for parameter 'renderer' of class 'QRCodeComponent'.
no type or deco

[2022-10-07 14:56] mahadihanif commented on #110
add the following to your angular.json:

`"allowedCommonJsDependencies": [
              "angularx-qrcode",
              "qrcode",
              "@cordobo/qrcode"
            ],`

[2022-10-26 21:46] eXpertise7 commented on #179
@Cordobo Hey, just a friendly advice, I'd suggest writing changelog docs / release note comments on version upgrades (could be here: https://github.com/Cordobo/angularx-qrcode/tags ). I believe it could be a hassle, since you're not getting paid and I understand if you won't do it, but people would have easier time migrating this library to newer versions.

Just migrating angularx-qrcode from 2.3.

[2022-11-15 14:48] nicoschuck commented on #181
I agree with that. That would be a very helpful feature!

[2022-11-17 21:42] Cordobo commented on #179
@eXpertise7 Hi, thanks for your comment. I had some hints in the code which logged debug messages to the console while in dev mode. If I remember right, I introduced them in V10 (where the breaking change happened and removed them in V14.

With angular 15 released yesterday, might be worthwhile to reintegrate them into the code.

[2022-11-17 21:43] Cordobo opened #191 "Support for angular 15"
- [ ] Support for angular 15

[2022-11-18 01:44] Cordobo commented on #191
https://www.npmjs.com/package/angularx-qrcode/v/15.0.0

[2022-11-18 02:00] Cordobo commented on #184
Hi @KyllVLP

thanks for opening this issue. I no longer work with angular 8 so I this might no be of help, but did you try to import from the fesm2015 folder within the angularx-qrcode package?

[fesm2015](https://github.com/Cordobo/angularx-qrcode/blob/559f116b9f2d74fed74b3fba5aea054e0495f0d5/dist/angularx-qrcode/fesm2015/angularx-qrcode.js)

[2022-11-18 02:02] Cordobo commented on #155
This fix was reverted in angularx-qrcode 15.

[2022-11-23 01:58] Macsito-prog opened #195 "Routing inside the same Ionic App"
Hello guys.
I'm making an ionic app that reads and generates QR Codes. The <qrcode> tag have an argument which is called qrdata, and it displays only what I write on there. I need to make it like a navigation button (?). This means that whenever I read that QR code, a different page inside my ionic app is displayed.

Is this possible? thanks and hope this goes here, first timer over here

[2022-11-23 19:24] araujomartin commented on #179
How I make a pull request to add imgsrc from Angular 12 version

[2022-11-25 10:57] serdec opened #196 "content security policies violation issue"
# Description

when displaying the qrcode i got an error in the console like the following:

[code]

I presume that this is due to some fetching for the download of the code, would it be possible to add a parameter to skip this?

[2022-11-25 20:17] Cordobo commented on #196
Hi @serdec

first things first, angularx-qrcode does NOT dwnload additional code.

Could you provide me with some addtional data, like your angular version and a strapped-down version of your working code in a repo so I can investigate?

thanks!

[2022-11-25 20:24] Cordobo commented on #195
Hi @Macsito-prog

yes, this is possible. If you have questions around coding/programming, **stack overflow** (SO) is a great resource where you can reach out for help. Feel free to tag qour question on SO with "angularx-qrcode". Sorry that I cannot provide more guidance/help here, this is for issues/bugs only :(

[2022-11-25 20:24] #195 closed

[2022-11-25 20:25] Cordobo commented on #110
^^this is now obsolete, as the latest release is re-using the original node-qrcode package.

[2022-11-25 20:28] Cordobo commented on #179
@araujomartin

angularx-qrcode 14 already supports imageSrc
https://github.com/Cordobo/angularx-qrcode/issues/183

[2022-11-26 08:28] serdec commented on #196
hi @Cordobo, thanks for your quick reply.

This happens because i have restricted content security policies on my web application like the following

[code]

these are the errors i get in the console

<img width="639" alt="image" src="https://user-images.githubusercontent.com/1456541/204079498-e3fb8456-384f-4952-8fff-f900c40b3689.png">
<img width="1256" alt="image" src="https://user-images.githubu

[2022-11-26 12:02] yktoo commented on #110
Indeed, all what's needed as of `angularx-qrcode 15.x` is:

[code]

[2022-11-28 07:51] gocarlos opened #197 "Usage with Angular 15 not working (version: "angularx-qrcode": "^15.0.0")"
[code]

with:

[code]

[2022-11-28 15:28] BenRacicot commented on #197
Hope it's ok to tag mine here as well
[code]

[2022-11-29 14:18] miquelripoll commented on #183
Need support for imageSrc in angular 12 if it's possible